---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"vendor/bourbon/bourbon",
	"vendor/bulma/utilities/utilities",
	"vendor/bulma/config/variables",
	"vendor/bulma/config/generated-variables",
	"vendor/bulma/base/base",
	"vendor/bulma/elements/elements",
	"vendor/bulma/components/components",
	"vendor/bulma/layout/layout",
	"custom/_fonts.scss";

// Our variables
$base-font-family: "NationalWeb-Book", Helvetica, Arial, sans-serif;
$base-font-family-italic: "NationalWeb-BookItalic";
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.7;
$base-line-height: 28px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #333333;
$hero-background:  #f0efee;
$brand-primary:    #6581d5;
$brand-secondary:  #b8a280;

$white-color:      #ffffff;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1100px;

$on-palm:          600px;
$on-laptop:        800px;




// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
