// Blog page
.blog {
	.posts {
		@include outer-container;
		@include pad(0 $outer-pad $section-pad);;
	}

	.post-item {
		@include span-columns(8);
		@include shift(2);
		padding: $section-pad/2 0;
		border-bottom: $base-border;

		@include media($tablet) {
			@include span-columns(12);
			@include shift(0);
		}

		&:last-child {
			border-bottom: none;
		}

		&-text {
			.category {
				@include heading-context;
				color: transparentize($text-color, 0.2);

				&:hover {
					border-bottom: $base-border;
				}
			}

			.title a {
				font-size: inherit;
				color: $heading-color;
			}

			.title a:hover {
				border-bottom: 1px solid lighten($text-color, 40%);
				color: darken($heading-color, 10%);
			}
		}

		&-author {

			img, span {
				display: inline-block;
				vertical-align: middle;
			}

			img {
				border-radius: 50%;
				margin-right: rem(10);
				@include size(rem(40));
			}

			.date {
				color: transparentize($text-color, 0.2);
			}
		}
	}

	.featured-post {
		@include outer-container();
		@include pad($section-pad $outer-pad 0);

		@include media($mobile) {
			padding-top: $section-pad/2;
		}

		&-inner {
			@include span-columns(8);
			@include shift(2);
			padding-bottom: $section-pad/2;
			border-bottom: $base-border;

			@include media($tablet) {
				@include span-columns(12);
				@include shift(0);
			}
		}

		.feature-tag {
			@include heading-context;
		}

		.featured-image-wrapper {
			position: relative;
			margin-bottom: rem(30);
			display: block;
			border-bottom: none;

			&:hover { border-bottom: none; }
		}

		p.feature-tag {
			text-align: left;
			margin-bottom: rem(10);
			color: transparentize($text-color, 0.2);
		}

		&-image {
			&:after {
				content: '';
				background: rgba(0, 0, 0, 0.4);
				@include position(absolute, 0);
				@include transition(background .4s ease);
			}

			&:hover:after {
				background: rgba(0, 0, 0, 0.7);
			}
		}

		&-text {
			padding: rem(120) rem(20);
			text-align: center;
			position: relative;
		    z-index: 20;

			@include media($mobile) {
				padding: rem(60) rem(10);
			}

			.category {
				@include heading-context;
				color: transparentize($white, 0.3);
			}

			h2, span, a, .date {
				color: $white;
			}
		}

		.continue-reading:after {
			@include chevron;
			border-color: $primary-color;
			top: rem(12);
		}
	}
}

// .blog, .post {
// 	footer {
// 		margin-bottom: $navbar-height;
// 	}
// }

.share-footer {
    position: fixed;
    bottom: 0;
    background: $white;
    @include pad(0 $outer-pad);
    border-top: $base-border;
    height: $navbar-height;
    width: 100%;

    input, .button {
    	margin-bottom: 0;
    }

    input {
    	margin-right: rem(8);
    }

    .button {
    	position: relative;
    	top: rem(-1);
    }

    .subscribe {
    	float: right;
    	margin-top: rem(13);
    }
}