// Individual blog post page
.post {

	.post-header {
		background: $charcoal-grey;
		background-size: cover;
		position: relative;
		overflow: hidden;

		&-image-wrapper.overlay:before {
			content: '';
			background: rgba(0, 0, 0, 0.4);
			@include position(absolute, 0);
		}

		&-inner {
			@include outer-container();
			@include pad($section-pad $outer-pad);
		}

		&-content {
			@include span-columns(8);
			@include shift(2);
			text-align: center;
			position: relative;
		    z-index: 20;

			@include media($tablet) {
				@include span-columns(12);
				@include shift(0);
			}
		}

		&-text {
			a {
				color: transparentize($white, 0.3);
				@include heading-context;
			}

			a:hover {
				border-bottom: 1px solid transparentize($white, 0.3);
			}

			h1 { color: $white; }
		}

		&-author {
			img, span {
				display: inline-block;
				vertical-align: middle;
				color: $white;
			}

			img {
				border-radius: 50%;
				margin-right: rem(10);
				@include size(rem(40));
			}
		}
	}

	.post-content {
		@include outer-container();
		@include pad($section-pad $outer-pad);

		&-inner {
			@include span-columns(8);
			@include shift(2);

			@include media($tablet) {
				@include span-columns(12);
				@include shift(0);
			}
		}
	}
}