<!-- header -->
<header class="navbar p-nav">
    <!-- logo -->
    <div class="logo">
      <a href="{{ site.baseurl }}/">
        {% include svg/spr-logo.svg %}
      </a>
    </div>
    <!-- /logo -->

    <!-- nav -->
    <nav class="nav" role="navigation">
      <ul>
        <li><button class="menu-toggle">Menu</button></li>
        <span class="nav-links">
          {% assign nav_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include modules/nav_list.html %}
          <li><a class="login-link" href="#">Log In</a></li>
          <li><a class="signup-link" href="#">Sign Up Free</a></li>
        </span>
        <span class="login-buttons">
          <li><a class="login" href="#">Log In</a></li>
          <li><a class="signup" href="#">Sign Up Free</a></li>
        </span>
      </ul>
    </nav>
    <!-- /nav -->
</header>
<!-- /header -->
