<section id="feature-start" class="main-feature engage js-fade-element-hide">
	<article class="main-feature-text">
		<div class="main-feature-label">
			{% include svg/icon-engage.svg %}
			<span>Engage</span>
		</div>
		<h2>Motivate students</h2>
		<p>Provide your students with engaging ways to explore new concepts and dynamics with engaging problem solving that emphasizes learning by doing.</p>
		<a href="{{ site.baseUrl }}/adaptivity/">Learn more</a>
	</article>

	<div class="main-feature-image"><img src="/assets/figures/home-engage.png" alt="an adaptive lesson"></div>
</section>

<section id="personalise-section">
	<div class="main-feature personalise js-fade-element-hide">
		<article class="main-feature-text">
			<div class="main-feature-label">
			{% include svg/icon-personalise.svg %}
			<span>Personalise</span>
			</div>
			<h2>Personalise their learning</h2>
			<p>Set the rules that drive the intelligence behind the scenes. The same benefits of of a private lesson, but at unlimited scale across students, time, and location. Make it adapt to their learning needs.</p>
			<a href="{{ site.baseUrl }}/product/">Learn more</a>
		</article>
	</div>
	<div class="personalise-img js-fade-element-hide">{% include svg/figure-home-personalise.svg %}</div>
</section>

<section id="improve-section" class="main-feature improve js-fade-element-hide">
	<article class="main-feature-text">
		<div class="main-feature-label">
			{% include svg/icon-improve.svg %}
			<span>Improve</span>
		</div>
		<h2>Continuously improve</h2>
		<p>Use insights from our powerful analytics to continuously improve your teaching approach by adapting to your students learning needs.</p>
		<a href="{{ site.baseUrl }}/product/">Learn more</a>
	</article>

	<div class="main-feature-image"><img src="/assets/figures/home-improve.png" alt="an adaptive lesson"></div>
</section>