@font-face {
    font-family: 'NationalWeb-Book';
    src: url('http://considered.design/_assets/Fonts/NationalWeb-Book.eot');
    src: url('http://considered.design/_assets/Fonts/NationalWeb-Book.woff');
}