@import
	"normalize",
	"mixins"
;

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
* Base CSS built on a modified Skeleton:
*
* Skeleton V2.0.4 | Dave Gamache | www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Misc
*/

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$modular-scale-ratio: $augmented-fourth;
$modular-scale-base: rem(18);
$base-line-height: 1.6;

body {
	@include font-feature-settings("kern", "liga", "pnum");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	color: $text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 400;
	margin: 0 0 rem(20);
	color: $heading-color;
}

h1 {
	font-size: modular-scale(3);
	line-height: 1.25;
	letter-spacing: rem(-1);
}

h2 {
	font-size: modular-scale(2);
	line-height: 1.25;
	letter-spacing: rem(-1);
}

h3 {
	font-size: modular-scale(1);
	line-height: 1.3;
	letter-spacing: rem(-0.7);
}

h4 {
	font-size: modular-scale(0);
	line-height: 1.35;
	letter-spacing: rem(-0.6);
}

h5 {
	font-size: modular-scale(-1);
	line-height: 1.5;
	letter-spacing: rem(-0.5);
}

h6 {
	font-size: modular-scale(-2);
	line-height: 1.6;
	letter-spacing: 0;
}

@include media($tablet) {
	h1 { font-size: rem(40); }
	h2 { font-size: rem(36); }
	h3 { font-size: rem(24); }
	h4 { font-size: rem(18); }
	h5 { font-size: rem(15); }
	h6 { font-size: rem(12); }
}

@include media($mobile) {
	h1 { font-size: rem(32); }
	h2 { font-size: rem(28); }
	h3 { font-size: rem(24); }
	h4 { font-size: rem(20); }
}

p {
	margin-top: 0;
	font-size: rem(18);
}

article p {
	@include media($tablet) {
		@include hyphens(auto);
		-webkit-hyphenate-limit-before: 2;
		-webkit-hyphenate-limit-after: 3;
		-webkit-hyphenate-limit-lines: 2;
	}
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: $primary-color;
	font-size: rem(18);
}
a:hover {
	color: $primary-color-dark; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#{$all-buttons}, .button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: rem(1);
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
	line-height: 3.2;

	@include transition(
		color 0.3s ease,
		background 0.3s ease,
		border 0.3s ease
	);

}

.button:focus,
.button:hover,
#{$all-buttons-focus},
#{$all-buttons-hover} {
	color: #333;
	border-color: #888;
	outline: 0;
}

.button:active,
#{$all-buttons-active} {
	color: #333;
	border-color: #888;
	outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #FFF;
	background-color: $primary-color;
	border-color: $primary-color;

	&:hover, &:focus {
		color: #FFF;
		background-color: $primary-color-dark;
		border-color: $primary-color-dark;
	}
}

.button.button-white,
button.button-white,
input[type="submit"].button-white,
input[type="reset"].button-white,
input[type="button"].button-white {
	color: rgba(255,255,255,0.95);
	border-color: rgba(255,255,255,0.7);

	&:focus, &:hover {
		color: rgba(255,255,255,0.7);
		border-color: rgba(255,255,255,0.5);
	}

	&-primary {
		color: $primary-color;
		background: white;
		border-color: white;

		&:hover, &:focus {
			color: $primary-color;
			background: transparentize(white, 0.15);
			border-color: transparentize(white, 0.15);
		}
	}
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#{$all-text-inputs},
select {
	@include appearance(none);
	height: 38px;
	padding: 5px 10px 7px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;

	@include transition(
		color 0.3s ease,
		background 0.3s ease,
		border 0.3s ease
	);
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#{$all-text-inputs-focus},
select:focus {
	border: 1px solid $primary-color;
	outline: 0;
}

label,
legend {
	display: block;
	margin-bottom: rem(5);
	font-weight: 600;
}

fieldset {
	padding: 0;
	border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label > .label-body {
	display: inline-block;
	margin-left: rem(5);
	font-weight: normal;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
	list-style: circle inside; }
ol {
	list-style: decimal inside; }
ol, ul {
	padding-left: 0;
	margin-top: 0;
	font-size: rem(18);
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin: rem(15) 0 rem(15) rem(30);
	font-size: 90%; }
li {
	margin-bottom: rem(10);
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
	padding: rem(2) rem(5);
	margin: 0 rem(2);
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px; }
pre > code {
	display: block;
	padding: rem(10) rem(15);
	white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
	padding-left: 0; }
th:last-child,
td:last-child {
	padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
	margin-bottom: rem(10); }
input,
textarea,
select,
fieldset {
	margin-bottom: rem(15); }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: rem(25); }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
	width: 100%;
	box-sizing: border-box; }
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box; }
.u-pull-right {
	float: right; }
.u-pull-left {
	float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: rem(30);
	margin-bottom: rem(35);
	border-width: 0;
	border-top: 1px solid #E1E1E1; }

img,
picture {
	margin: 0;
	max-width: 100%;
}
