<footer class="site-footer">
	<div class="footer-wrapper">
		<div class="footer-links">
			<ul>
				<li><a href="{{ site.baseUrl }}/about/">About</a></li>
				<li><a href="{{ site.baseUrl }}/research/">Research</a></li>
				<li><a href="{{ site.baseUrl }}/blog/">Blog</a></li>
				<li><a href="#">Careers</a></li>
				<li class="contact-details">
					<ul>
						<li><a href="{{ site.baseUrl }}/contact/">Contact</a></li>
						<li><a href="{{ site.baseUrl }}/support/">Support</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="legal">
			<ul>
				<li><span>© Smart Sparrow Pty Ltd, {{ 'now' | date: "%Y" }}</span></li>
				<li><a href="{{ site.baseUrl }}/terms/">Terms & Conditions</a></li>
				<li><a href="{{ site.baseUrl }}/privacy/">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
</footer>
