<intro class="site-intro">

  <div class="hero">
      <div class="site-intro-title">
        <h1>I’m a designer obsessed with how a good creative process can lead to better, more considered work.</h1>
        <!-- <p class="subtle">Dominic Sebastian is a</p> -->
        <p class="follower">site in progress</p>
      </div>
  </div>

</intro>

<!-- <section class="hero is-success is-large">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        I’m a designer obsessed with how a good creative process can lead to better, more considered work.
      </h1>
      <h2 class="subtitle">
        Dominic Sebastian is a Product Designer for Smart Sparrow
      </h2>
    </div>
  </div>
</section> -->
