<div class="listings">
     <ul class="post-list">
       {% for post in site.posts %}
         {% assign currentdate = post.date | date: "%Y" %}
         {% if currentdate != date %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1 class="ordinal" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
           <ul>
           {% assign date = currentdate %}
         {% endif %}
            <li>
              <span class="post-meta">{{ post.date | date_to_long_string }}</span>
<!--
              <h3> -->
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <p class="post-desc">{{ post.description | strip_html | truncatewords:30 }}</p>
              <!-- </h3> -->
            </li>
         {% if forloop.last %}</ul>{% endif %}
       {% endfor %}
     </ul>
</div>
