// SCALE UP ANIMATION

.fade-in {
  position:relative;
  height: clamp(250px, 55vw, 720px);
  // top:0px;
  // left:50%;
  // margin:auto;
}

.fade-in img {
  position:absolute;
  top:0;
  -webkit-animation-name: fade-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 114s;
  animation-name: fade-in;
  animation-iteration-count: infinite;
  animation-duration: 114s;
}

@-webkit-keyframes fade-in {
  0% { opacity: 1; }
  2.5% { opacity: 1; }
  5% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes fade-in {
  0% { opacity: 1; }
  2.5% { opacity: 1; }
  5% { opacity: 0; }
  100% { opacity: 0; }
}

#s1 {
  -webkit-animation-delay: 0s;
}
#s2 {
  -webkit-animation-delay: 3s;
}
#s3 {
  -webkit-animation-delay: 6s;
}
#s4 {
  -webkit-animation-delay: 9s;
}
#s5 {
  -webkit-animation-delay: 12s;
}
#s6 {
  -webkit-animation-delay: 15s;
}
#s7 {
  -webkit-animation-delay: 18s;
}
#s8 {
  -webkit-animation-delay: 21s;
}
#s9 {
  -webkit-animation-delay: 24s;
}
#s10 {
  -webkit-animation-delay: 27s;
}
#s11 {
  -webkit-animation-delay: 30s;
}
#s12 {
  -webkit-animation-delay: 33s;
}
#s13 {
  -webkit-animation-delay: 36s;
}
#s14 {
  -webkit-animation-delay: 39s;
}
#s15 {
  -webkit-animation-delay: 42s;
}
#s16 {
  -webkit-animation-delay: 45s;
}
#s17 {
  -webkit-animation-delay: 48s;
}
#s18 {
  -webkit-animation-delay: 51s;
}
#s19 {
  -webkit-animation-delay: 54s;
}
#s20 {
  -webkit-animation-delay: 57s;
}
#s21 {
  -webkit-animation-delay: 60s;
}
#s22 {
  -webkit-animation-delay: 63s;
}
#s23 {
  -webkit-animation-delay: 66s;
}
#s24 {
  -webkit-animation-delay: 69s;
}
#s25 {
  -webkit-animation-delay: 72s;
}
#s26 {
  -webkit-animation-delay: 75s;
}
#s27 {
  -webkit-animation-delay: 78s;
}
#s28 {
  -webkit-animation-delay: 81s;
}
#s29 {
  -webkit-animation-delay: 84s;
}
#s30 {
  -webkit-animation-delay: 87s;
}
#s31 {
  -webkit-animation-delay: 90s;
}
#s32 {
  -webkit-animation-delay: 93s;
}
#s33 {
  -webkit-animation-delay: 96s;
}
#s34 {
  -webkit-animation-delay: 99s;
}
#s35 {
  -webkit-animation-delay: 102s;
}
#s36 {
  -webkit-animation-delay: 105s;
}
#s37 {
  -webkit-animation-delay: 108s;
}
#s38 {
  -webkit-animation-delay: 111s;
}


.fade-in-up-1 {
  animation: fade-in-up-1;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

@-webkit-keyframes fade-in-up-1 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-up-1 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up-2 {
  animation: fade-in-up-2;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

@-webkit-keyframes fade-in-up-2 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-up-2 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up-3 {
  animation: fade-in-up-3;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}


@-webkit-keyframes fade-in-up-3 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-up-3 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up-4 {
  animation: fade-in-up-4;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

.rhythmic {
  span:nth-child(1) {
    animation: fade-in-up-3;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transform-origin: 50%;
  }
  span:nth-child(2) {
    animation: fade-in-up-3;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transform-origin: 50%;
  }
  span:nth-child(3) {
    animation: fade-in-up-3;
    animation-duration: 2.4s;
    animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transform-origin: 50%;
  }
  span:nth-child(4) {
    animation: fade-in-up-3;
    animation-duration: 2.6s;
    animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transform-origin: 50%;
  }
  span:nth-child(5) {
    animation: fade-in-up-3;
    animation-duration: 2.8s;
    animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transform-origin: 50%;
  }
  span:nth-child(6) {
    animation: fade-in-up-3;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transform-origin: 50%;
  }
}


@-webkit-keyframes fade-in-up-4 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up-5 {
  animation: fade-in-up-5;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}


@-webkit-keyframes fade-in-up-5 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-4 {
  animation: fade-in-4;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}


@-webkit-keyframes fade-in-4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
	}
}

@keyframes fade-in-up-4 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up {
  animation: fade-in-up;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

@-webkit-keyframes fade-in-up {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-up {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-bottom {
  animation: fade-in-bottom;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    transform: translate(30px,0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-bottom {
  0% {
    transform: translate(30px,0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.pulse {
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform-origin: 50%;
  fill: var(--colour-100);
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
	}
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pinwheel {
  animation: pinwheel 15s ease infinite;
}

@keyframes pinwheel {
	0% {
		color: #ee7752;
    fill: #ee7752;
	}
	50% {
		color: #e73c7e;
    fill: #e73c7e;

	}
	100% {
		color: #23a6d5;
    fill: #23a6d5;
	}
  100% {
		color: #23d5ab;
    fill: #23d5ab;
	}
}

