nav {
  height: $navheight;
  width: 100vw;
  position: fixed;
  place-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 5vw 0 5vw;

  // @include media-query($on-laptop) {
  // }

  // @include media-query($on-palm) {
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    @include spacing(0, 0);
  }

  .logo {
    font-family: "Degular Bold" !important;
    margin: 0 !important;
  }

  .nav-links {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
  }

  .active .page-link {
    // color: var(--text-color);
    color: rgba($primary, 1);
  }

  .page-link {
    // @include spacing(0,0 $space-s 0 0);
    font-family: "Degular Regular";
    color: rgba($primary, 1);
    display: inline-flex;
    margin-left: 16px;
    @include transition(all $transition);

    &:hover {
      color: rgba($primary, 1);
      text-decoration: none;
      @include transition(all $transition);
    }
  }
}

.footer {
  background-color: #00022e;
  font-family: "Degular Regular";
  color: var(--text-color);
  align-items: center;
  width: 100vw;
  // position: fixed;
  place-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2vw 5vw 2vw 5vw;
  position: absolute;

  h1,
  h2,
  h3,
  h4,
  h5,
  a {
    @include spacing(0, 0);
    color: var(--text-color);
  }

  p {
    color: var(--text-color);
    opacity: 0.5;
  }
  // p { @include font-style(regular, 1.5, rgba(white, .75), 1.5, 0,$space-xs 0 0 0); }
}
