// NAV

.nav {
  @include outer-container();
}
.navbar {
  @include span-columns(10);
  @include shift(1);
  margin-top: 70px;
  margin-bottom: 50px !important;
  display: flex;
  justify-content: space-between;


  .logo {
    display: inline-flex;
    align-items: center;
    margin-right: $spacing-unit/2;
    margin-bottom: 1px;
      svg {
        @include size(rem(27) rem(27));
        fill:rgba($primary,1);
        border-radius: 3px;
        // background-color: white;
        box-shadow: 0px 0px 0px 0px rgba($primary,.3);
        @include transition( all $default-transition);

      }
      &:hover svg {
        border-radius: 3px;
        // background-color: rgba($primary,.3);
        box-shadow: 0px 0px 0px 4px rgba($primary,.3);
        @include transition( all $default-transition);
      }
  }
  .nav-links {
    display: inline-flex;
    list-style: none;
    margin-left: 0px;
    font-weight: 400;
  }
  .cta {
    display: inline-flex;
    list-style: none;
    font-weight: 400;
  }
  .email-link {
    display: inline-flex;
    list-style: none;
    @include media-query($on-palm) {
      display: none;
    }
  }
  .active .page-link {
    color: black;
  }

  .page-link {
    margin-right: $spacing-unit/2;
    color: rgba($brand-black,.5);
    font-size: 20px;
    list-style: none;
    display: inline-flex;
    @include transition( all $default-transition);

    &:hover {
      color: rgba($brand-black,1);
      text-decoration: none;
      @include transition( all $default-transition);
    }
  }

  .logotype {
    color: rgba($primary,1);
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-flex;
    margin-left: $spacing-unit/4;
    @include media-query($on-tablet) {
      display: none;
    }
  }

  // .twitter {
  .email {
    fill: rgba($brand-black,.5);
    margin-top: 5px;
    margin-right: $spacing-unit/3;
    @include transition( all $default-transition);

    &:hover { fill:rgba($brand-black,1); @include transition( all $default-transition);}
      svg { @include size(rem(20) rem(20)); }
  }
}

// NAV VARIANTS

.dark {

  .page-link {
    color: rgba(white,.5);
    margin-bottom: 0px;
    @include transition( all $default-transition);
    &:hover {
      color: rgba(white,1);
      text-decoration: none;
      @include transition( all $default-transition);
    }
  }

  .twitter {
    fill: rgba(white,.5);
    @include transition( all $default-transition);
    &:hover { fill:rgba(white,1);
    @include transition( all $default-transition); }
      svg { @include size(rem(30) rem(30)); }
    }

  .email {
    fill: rgba(white,.5);
    @include transition( all $default-transition);
    &:hover { fill:rgba(white,1);
    @include transition( all $default-transition); }
      svg { @include size(rem(24) rem(24)); }
    }
}

.secondary {

  .logo {
    display: inline-flex;
      svg {
        @include size(rem(27) rem(27));
        fill:rgba(white,1);
        box-shadow: 0px 0px 0px 0px rgba(white,.3);
        @include transition( all $default-transition);
      }
      &:hover svg {
        border-radius: 3px;
        // background-color: rgba($primary,.3);
        box-shadow: 0px 0px 0px 4px rgba(white,.3);
        @include transition( all $default-transition);
      }
  }

  .logotype {
    color: rgba(white,1);
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-flex;
    margin-left: $spacing-unit/4;
    @include media-query($on-tablet) {
      display: none;
    }
  }

  .active .page-link {
    color: white;
  }

  .page-link {
    color: rgba(white,.5);
    &:hover {
      color: rgba(white,1);
      text-decoration: none;
    }
  }

  .twitter {
    fill: rgba(white,.5);
    &:hover { fill:rgba(white,1); }
      svg { @include size(rem(30) rem(30)); }
    }
    .email {
      fill: rgba(white,.5);
      @include transition( all $default-transition);
      &:hover { fill:rgba(white,1);
      @include transition( all $default-transition); }
        svg { @include size(rem(24) rem(24)); }
      }

}

.border {
  border: 1px solid rgba($brand-secondary,.2);
  border-radius: 5px;
}

.multiply { mix-blend-mode: multiply; }

.image {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.wide-image {
  width: 170%;
  margin-left: -32%;
  margin-top: 100px;
  margin-bottom: 100px;

  @include media-query($on-tablet) {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  // @include media-query($on-laptop) {
  //   width: 100%;
  // }
  @include media-query($on-palm) {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.image-grid {
  width: 200%;
  margin-left: -300px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;

  @include media-query($on-laptop) {
    width: 170%;
    margin-left: -32%;
  }

  @include media-query($on-tablet) {
    width: 100%;
    margin-left: 0px;
  }

  @include media-query($on-palm) {
    width: 100%;
    margin-left: 0px;
  }

  .item {
    @include span-columns(6);
    @include omega(2n);
    border: 1px solid rgba($brand-secondary,.2);
    border-radius: 5px;

    &:nth-child(3) {
      margin-top: 20px;
    }
    &:nth-child(4) {
      margin-top: 20px;
    }

    @include media-query($on-laptop) {
      // @include span-columns(12);
      // @include omega-reset(2n);
      margin-bottom: 30px;
      // @include omega(1n);

      &:nth-child(3) {
        margin-top: 0px;
      }
      &:nth-child(4) {
        margin-top: 0px;
      }
    }
    @include media-query($on-palm) {
      @include span-columns(12);
      margin-bottom: 20px;
      @include omega-reset(2n);
      @include omega(1n);

      &:nth-child(3) {
        margin-top: 0px;
      }
      &:nth-child(4) {
        margin-top: 0px;
      }
    }
  }
}

.image-trio {
  width: 200%;
  margin-left: -300px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;

  @include media-query($on-laptop) {
    width: 170%;
    margin-left: -32%;
  }

  @include media-query($on-tablet) {
    width: 100%;
    margin-left: 0px;
  }

  @include media-query($on-palm) {
    width: 100%;
    margin-left: 00px;
  }

  .item {
    @include span-columns(4);
    @include omega(3n);
    border: 1px solid rgba($brand-secondary,.2);
    border-radius: 5px;

    // @include media-query($on-laptop) {
    //   @include span-columns(4);
    //   @include omega-reset(2n);
    //   @include omega(1n);
    // }
    @include media-query($on-palm) {
      @include span-columns(12);
      margin-bottom: 20px;
      @include omega-reset(2n);
      @include omega(1n);
    }


  }
}

.hero-image {
  @include span-columns(10);
  @include shift(1);
  // margin-bottom: 50px;

  @include media-query($on-palm) {
    @include span-columns(12);
    @include shift(0);
  }
}


// HERO

.black {
  background-color: $brand-black;
  margin-top: -200px;
  padding-top: 200px;
  padding-bottom: (1 * $spacing-unit);
}

.hero {
  @include outer-container();
  @extend %clearfix;
  // background-color: $brand-black;
}

.welcome {
  @include span-columns(10);
  @include shift(0);
  margin-top: (2 * $spacing-unit);
  margin-bottom: (2 * $spacing-unit);

  h1 {
    color: $primary;
    margin-bottom: (2 * $spacing-unit);
  }

  h2 {
    color: rgba($primary,.85);
    font-family: $base-font;
    margin-bottom: (2 * $spacing-unit);
  }

  a {
    color: inherit;
    border-bottom: 3px solid rgba($primary,0.4);
    @include transition( all $default-transition);

    &:hover, &:focus {
      color: $primary;
      background-color: rgba($primary,0.2);
      border-bottom: 3px solid rgba($primary,0);
      @include transition( all $default-transition);
      // border-bottom: 2px solid rgba($primary,1);
    }
  }
  @include media-query($on-laptop) {
    @include span-columns(6);
    @include shift(1);
  }
  @include media-query($on-palm) {
    @include span-columns(10);
    @include shift(1);
  }
}

// SLATE

.slate {
  background-color: $brand-black;
  padding-top: 50px;
  padding-bottom: 85px;
  margin-top: 100px;

  .aside {
    @include span-columns(2);
    @include shift(1);
    color: $white-color;
    font-family: $base-font;
    font-size: 32px;

    //   @include media-query($on-laptop) {
    //   font-size: 80px;
    // }
}

.spread {
  @include span-columns(10);
  @include shift(1);
}

  .block {
    @include span-columns(4);
    // @include omega(3n);
    margin-bottom: 30px;

    // .numero {
    //   color: $white-color;
    //   // font-family: $base-font-bold;
    //   font-size: 35px;
    //   // line-height: 1.2;
    //   margin-bottom: 15px;
    //   font-feature-settings: 'lnum';
    //   -moz-font-feature-settings: "lnum" 1;
    //   -ms-font-feature-settings: 'lnum';
    //   -webkit-font-feature-settings: 'lnum';
    //   -o-font-feature-settings: 'lnum';
    // }

    p {
      color: rgba(white,.6);
      font-size: 18px;
      line-height: 1.2;
    }

    .title {
      color: white;
      margin-bottom: 15px;
      line-height: 1.2;
    }

      @include media-query($on-laptop) {
      @include omega-reset(3n);
      @include span-columns(6);
      @include omega(2n);
      @include shift(0);
    }

      @include media-query($on-palm) {
      @include span-columns(12);
    }
  }

  h1,h2,h3 {
    color: white;
  }

  h1 {
    margin-bottom: 80px;
  }

  h3 {
    opacity: .85;
    margin-bottom: 5px;
  }

  a {
    color: white;
    border-bottom: 3px solid rgba(white,0.2);
    @include transition( all $default-transition);

    &:hover {
        background-color: rgba(white,0.2);
        border-bottom: 3px solid rgba(white,0);
        @include transition( all $default-transition);
    }
  }
}

// LIGHT TILES

.grey {
  background-color: $brand-secondary;
  padding-top: (2 * $spacing-unit);
  margin-top: (2 * $spacing-unit);
  padding-bottom: (3 * $spacing-unit);

  &.start {
    margin-top: -200px;
    // padding-top: 200px;
    padding-bottom: 85px;

    h1 { margin-top: 60px;}
  }

  .outro {
    @include span-columns(8);
    @include shift(1);
    color: $white-color;
    // color: $primary;
    margin-bottom: (2 * $spacing-unit);
    margin-top: 0px;

    @include media-query($on-laptop) {
      @include span-columns(6);
      @include shift(1);
    }
    @include media-query($on-palm) {
      @include span-columns(10);
      @include shift(1);
    }
  }

  .explainer {
    @include span-columns(5);
    @include shift(1);
    font-family: $base-font;
    color: rgba(white,.7);
    margin-top: 0px;
    margin-bottom: (3 * $spacing-unit);

    @include media-query($on-laptop) {
      @include span-columns(6);
      @include shift(1);
    }
    @include media-query($on-palm) {
      @include span-columns(10);
      @include shift(1);
    }

    a {
      color: rgba(white,.7);
      border-bottom: 3px solid rgba(white,0.2);
      @include transition( all $default-transition);

      &:hover {
          color: white;
          background-color: rgba(white,0.2);
          border-bottom: 3px solid rgba($primary,0);
          @include transition( all $default-transition);
      }
    }
  }

.tiles {
  @include span-columns(10);
  @include shift(1);
}

  .tile {
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: 30px;

      @include media-query($on-laptop) {
      @include omega-reset(3n);
      @include span-columns(6);
      @include omega(2n);
      @include shift(0);
    }

      @include media-query($on-palm) {
      @include span-columns(12);
    }
  }

  h1,h2,h3,p {
    color: white;
  }

  h1 {
    margin-top: (2 * $spacing-unit);
    margin-bottom: (3 * $spacing-unit);
  }

  h3 {
    opacity: .85;
    margin-bottom: 5px;
  }

  p {
    font-size: 18px;
    opacity: 0.8;
   }

  a {
    color: white;
    border-bottom: 3px solid rgba(white,0.2);
    @include transition( all $default-transition);

    &:hover {
        background-color: rgba(white,0.2);
        border-bottom: 3px solid rgba(white,0);
        @include transition( all $default-transition);
    }
  }
}

// PROJECT CARDS

.explainer {
  @include span-columns(5);
  @include shift(1);
  font-family: $base-font;
  color: $brand-secondary;
  margin-top: (1 * $spacing-unit);
  margin-bottom: (5 * $spacing-unit);
  @include media-query($on-laptop) {
    @include span-columns(6);
    @include shift(1);
  }
  @include media-query($on-palm) {
    @include span-columns(10);
    @include shift(1);
  }
  a {
    color: $brand-secondary;
    border-bottom: 3px solid rgba($primary,0.2);
    @include transition( all $default-transition);

    &:hover {
        color: $primary;
        background-color: rgba($primary,0.2);
        border-bottom: 3px solid rgba($primary,0);
        @include transition( all $default-transition);
    }
  }
}

.projects {
  @include span-columns(10);
  @include shift(1);
  margin-top: (2 * $spacing-unit);
  // margin-bottom: (3 * $spacing-unit);

  @include media-query($on-palm) {
    @include span-columns(12);
    @include shift(0);
  }

  .card {
    @include span-columns(12);
    // @include omega(3n);
    margin-bottom: 50px;
    text-align: left;
    padding: 35px;
    display: inline-flex;
    flex-direction: row;
    background-color: rgba($white-color,0);
    @include transition( all $default-transition);
    height: 200px;

    &.qwilr {
      // border: 5px solid black;
        &:after {
          content: url('/assets/projects/qwilr/qwilr-peek.png');
          margin-left: 50px;
          // margin-top: -120px;
          transform:rotate(10deg) scale(.75,.75) translateY(-100px);
          height: 200px;
          opacity: 0;
        }
    }

    &.unsw {
      // border: 5px solid black;
        &:after {
          content: url('/assets/projects/unsw/unsw-peek.png');
          margin-left: 50px;
          // margin-top: -120px;
          // transform:scale(.75,.75) translateY(0px);
          transform:translateY(0px);
          transform-origin: center;
          height: 200px;
          opacity: 0;
        }
    }

    h3 {
      color: $primary;
      margin-bottom: 0px;
    }

    h2 {
      font-family: $base-font;
      margin-bottom: 10px;
    }

    p {
      font-size: 22px;
      margin-bottom: 15px;
    }

    // @include media-query($on-laptop) {
    //   @include omega-reset(3n);
    //   @include span-columns(6);
    //   @include omega(2n);
    //   @include shift(0);
    //   display: flex;
    //   flex-direction: column;
    // }
    //
    // @include media-query($on-palm) {
    //   @include span-columns(10);
    //   @include shift(1);
    //   display: flex;
    //   flex-direction: column;
    //   height: 300px;
    // }

    .context {
      @include span-columns(2);
      @include shift(0);
    }

    .other {
      @include span-columns(6);
      // @include shift(3);
      // margin-bottom: $spacing-unit;
    }

    &:hover {
      background-color: rgba($white-color,1);
      // background-position: 95% 10px; /* Center the image */
      @include transition( all $default-transition);

      &:after {
        // margin-top: -80px;
        transform:translateY(-75px);
        opacity: 1;
        @include transition( all $default-transition);
      }
    }
  }
}

// POST LISTINGS

.listings {
  @include span-columns(6);
  @include shift(3);

  @include media-query($on-palm) {
    @include span-columns(12);
    @include shift(0);
  }

}

.page-content {
  flex: 1 0 auto;
}

.post-list {
  margin-left: 0px;
  @include media-query($on-laptop) {
    @include span-columns(10);
    @include shift(1);
  }

  h3 { margin-bottom: 5px; }

  ul {
      margin-left: 0px;
      margin-bottom: 0px;
  }

  li {
      list-style-type: none;
      margin-left: 0px;
      margin-bottom: 5px;
      // padding-left: 5px;
      border-bottom: 1px solid rgba(#81A2B2,0.2);
      padding-top: 25px;
      padding-bottom: 5px;

      .link {
        color: inherit;
        border-bottom: 3px solid rgba($primary,0.2);
        &:hover {
            background-color: rgba($primary,0.2);
            color: $primary;
            border-bottom: 3px solid rgba($primary,0);
            @include transition( all $default-transition);
        }
      }
  }
  .post-link {
      // font-size: 22px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: $brand-black;
      font-family: $base-font-bold;
      letter-spacing: -1px;
      text-decoration: none;
  }

  .post-desc {
      margin-right: 60px;
      margin-top: 15px;
      color: rgba(74, 74, 74, 0.85);
      font-size: 19px;
      margin-top: 10px;

      @include media-query($on-laptop) {
        margin-right: 0px;
      }

      @include media-query($on-palm) {
        margin-right: 0px;
      }
  }

  .ordinal {
      @include span-columns(0.5);
      @include shift(0);
      margin-left: - 200px;
      font-size: 60px;
      margin-top: 25px;
      color: rgba($brand-secondary,.3);
      letter-spacing: 0.5px;
      font-family: $base-font;

      @include media-query($on-palm) {
        @include span-columns(12);
        @include shift(0);
        margin-left: 0px;
      }
  }
}

// POSTS

.post {
  @include outer-container;
}

  .post-title {
    @include span-columns(6.5);
    @include shift(2.5);
    margin-top: 60px;
    @extend %clearfix;

    &:after {
      content : "";
      position: absolute;
      width: 50px;
      border-bottom: 5px solid $primary;
    }

    @include media-query($on-tablet) {
      @include span-columns(10);
      @include shift(1);
    }

    h3 { margin-bottom: 0px; }

    .post-description {
      font-size: 30px;
      line-height: 1.3;
      letter-spacing: -1px;
      margin-top: $spacing-unit;
      margin-bottom: (2 * $spacing-unit);
    }
  }

.post-content {
  @include span-columns(6.5);
  @include shift(2.5);
  @extend %clearfix;
  margin-top: 70px;

  // @include media-query($on-laptop) {
  //   @include span-columns(7);
  //   @include shift(2.5);
  // }

  @include media-query($on-tablet) {
    @include span-columns(10);
    @include shift(1);
  }

  &.left {
    @include span-columns(6 of 12);
    @include shift(1);

    @include media-query($on-tablet) {
      @include span-columns(10);
      @include shift(1);
    }
  }

  &.right {
    @include span-columns(4 of 12);
    @include shift(0);

    @include media-query($on-tablet) {
      @include span-columns(5);
      @include shift(1);
    }

    @include media-query($on-palm) {
      @include span-columns(10);
      @include shift(1);
    }

    .page-intro {
      margin-left: 0px;
      width: 100%;
      height: auto;
      padding: 20px 30px 30px 30px;
      text-align: center;

      h5 {
        font-family: $base-font-bold;
        font-feature-settings: initial;
        font-size: 20px;
        line-height: 1.2;
      }

      p { margin-bottom: 0px; }

      a {
        font-size: 18px;
        margin-right: 5px;
        font-family: $base-font;
        color: rgba($brand-black,.7);
        border-bottom: 3px solid rgba($primary,0.2);
        @include transition( all $default-transition);


        &:hover {
            color: $primary;
            background-color: rgba($primary,0.2);
            border-bottom: 3px solid rgba($primary,0);
            @include transition( all $default-transition);
        }
      }
    }
  }

  h3 { font-family: $base-font-bold; }

  a {
    border-bottom: 3px solid rgba($primary,0.2);
    @include transition( all $default-transition);

    &:hover, &:focus {
      color: $primary;
      background-color: rgba($primary,0.2);
      border-bottom: 3px solid rgba($primary,0);
      @include transition( all $default-transition);
      // border-bottom: 2px solid rgba($primary,1);
    }
  }
}

.wide {
  @include outer-container;
  margin-top: 60px;

  .gexplainer {
    @include span-columns(6);
    @include shift(3);
    text-align: center;
    font-family: $base-font;
    color: rgba(white,.7);
    margin-top: 0px;
    margin-bottom: (3 * $spacing-unit);

    @include media-query($on-laptop) {
      @include span-columns(6);
      @include shift(1);
    }
    @include media-query($on-palm) {
      @include span-columns(10);
      @include shift(1);
    }

    a {
      color: rgba(white,.7);
      border-bottom: 3px solid rgba(white,0.2);
      @include transition( all $default-transition);

      &:hover {
          color: white;
          background-color: rgba(white,0.2);
          border-bottom: 3px solid rgba($primary,0);
          @include transition( all $default-transition);
      }
    }
  }

  .cexplainer {
    @include span-columns(6);
    @include shift(3);
    font-family: $base-font;
    text-align: center;
    color: $brand-secondary;
    margin-top: 0px;
    margin-bottom: (3 * $spacing-unit);

    @include media-query($on-laptop) {
      @include span-columns(6);
      @include shift(1);
    }
    @include media-query($on-palm) {
      @include span-columns(10);
      @include shift(1);
    }

    a {
      color: $brand-secondary;
      border-bottom: 3px solid rgba($primary,0.2);
      @include transition( all $default-transition);

      &:hover {
          color: $primary;
          background-color: rgba($primary,0.2);
          border-bottom: 3px solid rgba($primary,0);
          @include transition( all $default-transition);
      }
    }
  }

  .project-header {
    @include span-columns(9);
    @include shift(1);
    @extend %clearfix;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 30px;

    @include media-query($on-laptop) {
      @include span-columns(6);
      @include shift(1);
    }

    @include media-query($on-palm) {
      @include span-columns(10);
      @include shift(1);
    }

    // &.extra {
    //   @include span-columns(6);
    //   @include media-query($on-laptop) {
    //     @include span-columns(6);
    //     @include shift(1);
    //   }
    //   @include media-query($on-tablet) {
    //     @include span-columns(8);
    //     @include shift(1);
    //   }
    //   @include media-query($on-palm) {
    //     @include span-columns(10);
    //     @include shift(1);
    //   }
    // }
  }

  .page-intro {
    @include span-columns(10);
    @include shift(1);
    // border-top: 1px solid rgba(#81A2B2,0.2);
    // border-bottom: 1px solid rgba(#81A2B2,0.2);
    background-color: white;
    // height: 200px;
    // display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 60px;

    @include media-query($on-palm) {
      @include span-columns(12);
      @include shift(0);
      padding-bottom: 20px;
      padding-top: 0px;
    }

    .spotlight {
      @include span-columns(3);
      @include omega(3n);
      // padding-bottom: 30px;
      // background-color: blue;
      padding-left: 32px;
      // margin-top: 30px;
      margin-right: 80px;
      border-left: 1px solid rgba($brand-secondary,.2);

      &:first-child {
        border-left: none;
        @include span-columns(4);
        // margin-left: -30px;
        // margin-right: 98px;

        @include media-query($on-tablet) {
          // margin-left: -40px;
          // margin-top: -30px;
          // margin-bottom: 50px;
          @include span-columns(10);
          // margin-right: 0px;
        }
        @include media-query($on-palm) {
          @include span-columns(10);
        }
      }
      // &:first-child {
      //   border-left: none;
      //   @include span-columns(1.5);
      //   margin-left: -30px;
      //   margin-right: 98px;
      //   @include span-columns(3.5);
      //
      //   @include media-query($on-tablet) {
      //     border-left: none;
      //     @include span-columns(4.5);
      //   }
      //   @include media-query($on-palm) {
      //     @include span-columns(10);
      //     margin-bottom: 20px;
      //   }
      // }
      &:nth-child(2) {
        @include span-columns(4);

        @include media-query($on-tablet) {
          @include span-columns(4.5);
        }
        @include media-query($on-palm) {
          @include span-columns(10);
          margin-bottom: 20px;
        }
      }
      &:last-child {
        @include span-columns(4);
        // margin-left: -30px;
        // margin-left: 55px;

        @include media-query($on-tablet) {
          @include span-columns(2);
        }
        @include media-query($on-palm) {
          @include span-columns(10);
          margin-bottom: 20px;
        }
      }

      @include media-query($on-palm) {
        @include span-columns(10);
        border-left: none;
      }

      // .numero {
      //   color: rgba($primary,1);
      //   letter-spacing: 1px;
      //   font-size: 100px;
      //   font-family: $base-font;
      //   // margin-top: -20px;
      //   margin-top: 0px;
      //   padding-left: 40px;
      //   line-height: 1;
      //   font-feature-settings: 'lnum';
      //   -moz-font-feature-settings: "lnum" 1;
      //   -ms-font-feature-settings: 'lnum';
      //   -webkit-font-feature-settings: 'lnum';
      //   -o-font-feature-settings: 'lnum';
      //   // padding-top: 30px;
      //   // align-self: center;
      //
      //   @include media-query($on-laptop) {
      //     font-size: 70px;
      //     // padding-left: 40px;
      //     // margin-top: -50px;
      //   }
      //   @include media-query($on-tablet) {
      //     font-size: 80px;
      //     // padding-left: 40px;
      //     // margin-top: -50px;
      //   }
      //   @include media-query($on-palm) {
      //     // font-size: 80px;
      //     // padding-left: 40px;
      //     margin-top: -25px;
      //   }
      //
      // }

      h5 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .copy {
        font-size: 18px;
        color: rgba($brand-black,.6);
        line-height: 1.3;
        margin-bottom: 5px;

        a {
          color: inherit;
          border-bottom: 3px solid rgba($primary,0.2);
          @include transition( all $default-transition);

          &:hover {
              color: $primary;
              background-color: rgba($primary,0.2);
              border-bottom: 3px solid rgba($primary,0);
              @include transition( all $default-transition);
          }
        }
      }
    }
  }
}

.profile {
  margin-top: 10px;

  // @include media-query($on-laptop) {
  //   padding: 25px;
  // }

}

// SITE FOOTER

.dark {
  // .blend { background-color: $brand-secondary; }
  .site-footer { color: rgba(white,.5); }
}

.brown {
  // .blend { background-color: $brand-secondary; }
  .site-footer { color: rgba(white,.5); }
}

.slatez {
  // .blend { background-color: $brand-black; }
  .site-footer { color: rgba(white,.5); }
}

.footer {
  @include outer-container();
  display: flex;
}

.site-footer {
  @include span-columns(10);
  @include shift(1);
  padding-top: 50px;
  padding-bottom: 35px;
  height: 113px;
  color: rgba($brand-black,0.3);
  font-size: 16px;
  letter-spacing: 1px;
  // text-transform: uppercase;
  text-align: right;
  // display: inline;

  @include media-query($on-laptop) {
      padding-bottom: 66px;
  }

  @include media-query($on-palm) {
      padding-bottom: 100px;
  }
}

.footer-name {
  float: left;
}
.footer-mission {
  float: right;

  @include media-query($on-palm) {
      float: left;
  }
}

.sticks {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
}

.posters {
  @include span-columns(10);
  @include shift(1);
  border-top: 1px solid rgba(#81A2B2,1);
  padding-top: 50px;
}
