// SITE HEADER

.navbar {
  padding: 50px 35px 50px 35px;
  padding-top: 35px;
  margin-bottom: 0 !important;

  .logo {
  display: inline-flex;
  svg {
      @include size(rem(27) rem(27));
      fill:rgba($brand-primary,1);
  }
}

  .nav-links {
      display: inline-flex;
      float: right;
  }

  .page-link {
      padding-right: 20px;
      color: rgba(#828282,.5);
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      &:hover {
          color: rgba(#828282,1);
          text-decoration: none;
      }
  }

  .twitter {
      fill: rgba(#828282,.5);
      &:hover { fill:rgba(#828282,1); }
          svg {
              @include size(rem(30) rem(30));
          }
      }
}


  .button-icon {
  display: inline-flex;
  align-items: center;
  svg {
      @include size(rem(27) rem(27));
      fill:rgba($brand-primary,1);
      margin-right: 12px;
  }
}

  .dark {
    background-color: $brand-secondary;
  }

.sticks {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 113px);
}

/**
* Site Intro
*/

.hero {
    // flex: 1 0 auto;
    @include outer-container();
/*    background-color: $white-color;
*//*    max-width: -webkit-calc(#{$content-width});
  max-width:         calc(#{$content-width});*/
/*    margin-right: auto;
  margin-left: auto;*/
  @extend %clearfix;
  // margin: 0px 0px 0px -113px;
  // background-color: $hero-background;
  // background-color: $brand-secondary;

  @include media-query($on-laptop) {
      max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
      max-width:         calc(#{$content-width} - (#{$spacing-unit}));
      // padding-right: $spacing-unit / 2;
      // padding-left: $spacing-unit / 2;
  }
}
.welcome {
  @include span-columns(7);
  @include shift(0);
}
.intro {
  font-family: $base-font-bold;
  color: white;
  // text-align: center;
  font-size: 100px;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-top: 30px;
  margin-bottom: 40px;

}
.conrad {
    font-family: $base-font-bold;
    color: $brand-primary;
    letter-spacing: 1px;
    text-transform: uppercase;
    // display: inline;
    margin-bottom: 20px;
}
.follow {
  @include span-columns(11);
  @include shift(0);
  font-family: $base-font;
  color: rgba(white,.7);
  // text-align: center;
  font-size: 34px;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 50px;

}

  //
  //
  // @include media-query($on-laptop) {
  //     padding-top: 5px;
  //     font-size: 36px;
  //     text-align: left;
  // }
  //
  // @include media-query($on-palm) {
  //     margin-top: 20px;
  //     text-align: left;
  // }

// CARDS

.project-cards {
  @include span-columns(10);
  @include shift(1);
  // @include outer-container();
}

  .card {
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: 50px;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';

    // .item:nth-child(4n) { margin-right: 0; }
    // .item:nth-child(4n+1) { clear: left; }
  }
  .project-title {
    font-family: $base-font-bold;
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid $brand-primary;
  }

  .project-description {
    font-size: 26px;
    color: #4A4A4A;
  }

  .project-icon {
    background-color: rgba($brand-primary,0.1);
    fill: rgba($brand-primary,1);
    height: 35px;
    width: 35px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -4px;
    padding: 3px;
  }

  .project-solution {
    font-size: 14px;
    color: #9B9B9B;
    margin-bottom: -10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .project-type {
    font-family: $base-font-bold;
    margin-top: 0px;
    font-size: 16px;

    text-transform: uppercase;
    // font-size: 14px;
    // color: #9B9B9B;
    // margin-bottom: 0px;
  }

  .project-outcome {
    display: inline-block;
  }

  .stat-name {
    // text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 18px;
  }
  .stat-value {
    // text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: $base-font-bold;
    font-size: 18px;
  }
  .project-stats {
    list-style: none;
    margin-left: 0px;
  }


// PAGE CONTENT

.listings {
  @include outer-container();
}

.page-content {
  flex: 1 0 auto;
/*    padding: $spacing-unit 0;
*/}

.page-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  text-align: left;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.post-list {
  @include span-columns(8);
  @include shift(2);
  font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum=1';
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum';
  // margin-top: $spacing-unit;


  ul {
      margin-left: 0px;
  }

  li {
      // padding-bottom: 10px;
      // padding-top: 10px;
      list-style-type: none;
      margin-left: 0px;

  }

  .ordinal {
      @include span-columns(1.5);
      @include shift(0);
      margin-left: - 100px;
      font-size: 16px;
      color: $brand-primary;
      letter-spacing: 0.5px;
      border-bottom: 1px solid rgba($brand-primary, 0.25);

  }

  .post-meta {
  font-family: $base-font;
  letter-spacing: 1px;
  font-size: $small-font-size;
  color: $grey-color;
  float: right;
  display: inline;
  text-transform: uppercase;
  font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum=1';
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum';
  }
}

.post-link {
  display: block;
  color: $grey-color-dark;
  // padding-top: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}



// POSTS

.post {
  @include outer-container;
}

  .post-header {
    // display: block;
    // @include outer-container;
    }


  .post-title {
    @include span-columns(10);
    @include shift(1);
    line-height: 1.3;
    font-size: 65px;
    font-family: $base-font-bold;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';

      @include media-query($on-laptop) {
          font-size: 46px;
      }
  }

  .details {
    @include span-columns(4);
    @include shift(1);
    font-size: $small-font-size;
    // letter-spacing: 1px;
    text-transform: uppercase;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
  }

  .post-meta {
    color: $grey-color;
    display: inline;
  }

  .context-title {
    font-family: $base-font-bold;
    color: $brand-primary;
    margin-right: 8px;
    display: inline;

    @include media-query($on-laptop) {
        // font-size: 36px;
    }
  }



.post-content {
  @include span-columns(6);
  @include shift(3);
  margin-top: 35px;
  @extend %clearfix;
  // padding-left: 25px;
  // padding-right: 25px;
  // margin: -25px 0px -25px 0px;
  // padding: 25px 25px 0px 25px;

  @include media-query($on-laptop) {
    @include span-columns(10);
    @include shift(1);
  }


  h2 {
      font-size: 32px;

      @include media-query($on-laptop) {
          font-size: 28px;
      }
  }

  h3 {
      font-family: $base-font-bold;
      font-size: 26px;

      @include media-query($on-laptop) {
          font-size: 22px;
      }
  }

  h4 {
      font-size: 20px;

      @include media-query($on-laptop) {
          font-size: 18px;
      }
  }
}

.wide {
  @include outer-container;
}

  .cheese {
    @include span-columns(10);
    @include shift(0);
    line-height: 1.3;
    font-size: 65px;

      @include media-query($on-laptop) {
          font-size: 36px;
      }
  }

// SITE FOOTER

.site-footer {
  padding: 50px;
  padding-bottom: 35px;
  height: 113px;
  flex: none;

  @include media-query($on-laptop) {
      padding-bottom: 66px;
  }

  @include media-query($on-palm) {
      padding-bottom: 100px;
  }
}

.footer-name {
  color: $grey-color;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  display: inline;
  width: auto;
}

.footer-mission {
  color: $grey-color;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
  display: inline;
  float: right;
  width: auto;

  @include media-query($on-palm) {
      float: left;
  }
}


.wide {
  @include outer-container;

  .post-header {
    // display: block;
    // @include outer-container;
    // padding-top: 80px;

  .test {
    @include span-columns(10);
    @include shift(1);
  }

  .title {
    // @include span-columns(8);
    // @include shift(1);
    display: inline-block;
    line-height: 1.3;
    font-family: $base-font-bold;
    font-size: 65px;

      @include media-query($on-laptop) {
        padding-left: 25px;
        padding-right: 25px;// font-size: 36px;
      }
  }

  .page-intro {
    @include span-columns(10);
    @include shift(1);
    border-top: 1px solid rgba($brand-primary,0.2);
    border-bottom: 3px solid $brand-primary;
    // padding-top: 25px;
    // padding-bottom: 25px;
    margin-bottom: 50px;

    // height: 160px;
    // color: rgba(74,74,74,.65);
    // background-color: #FAF8F6;


  }
  .copy {
    @include span-columns(7 of 12);
    // @include shift(0);
      // font-size: 24px;
      // line-height: 36px;
      // font-family: $pair-font-italic;
      // background: white !important;
      // margin: -25px 25px -25px 0px;
      padding: 15px 70px 0px 0px;


      @include media-query($on-laptop) {
        @include span-columns(12);
        @include shift(0);
        padding-left: 25px;
        padding-right: 25px;
      }
  }

  .pair {
    @include span-columns(5 of 12);
    // @include shift(7);
    // margin: 0px;
    padding: 15px 25px 0px 25px;
    float: right;
    // height: auto;
    // height: 160px;
    // background-color: #FAF8F6;
    font-size: 20px;
    // line-height: 1.5;
    color: rgba(black,0.7);
    // position: absolute;

    .CTA {
      display: inline-block;
      margin-bottom: 16px;
      color: $brand-primary;

    }

      @include media-query($on-laptop) {
        @include span-columns(12);
        @include shift(0);
        padding-left: 25px;
        padding-right: 25px;
      }
  }
}

  .post-content {
    @include span-columns(5);
    @include shift(1);
    font-size: 20px;
    line-height: 30px;
    color: rgba(74,74,74,.85);

      @include media-query($on-laptop) {
          // font-size: 36px;
          @include span-columns(12);
          @include shift(0);
          padding-left: 25px;
          padding-right: 25px;


      }
  }
}


.skinny {
  @include outer-container;

  .post-header {
    // display: block;
    // @include outer-container;
    // padding-top: 80px;

  .title {
    @include span-columns(8);
    @include shift(2);
    line-height: 1.3;
    font-size: 65px;

      @include media-query($on-laptop) {
        padding-left: 25px;
        padding-right: 25px;// font-size: 36px;
      }
  }

  .page-intro {
    @include span-columns(8);
    @include shift(2);
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;

    // height: 160px;
    // color: rgba(74,74,74,.65);
    // background-color: #FAF8F6;


  }
  .copy {
    @include span-columns(10);
    // @include shift(0);
      font-size: 24px;
      line-height: 36px;
      // font-family: $pair-font-italic;

      // background: white !important;
      // margin: -25px 25px -25px 0px;
      padding: 25px 70px 0px 0px;


      @include media-query($on-laptop) {
        @include span-columns(12);
        @include shift(0);
        padding-left: 25px;
        padding-right: 25px;
      }
  }

  .pair {
    @include span-columns(5 of 12);
    // @include shift(7);
    margin: -25px 0px -25px 0px;
    padding: 25px 25px 0px 25px;
    float: right;
    // height: auto;
    // height: 160px;
    background-color: #FAF8F6;
    // position: absolute;

    .CTA {
      display: inline-block;
      color: $brand-primary;

    }

      @include media-query($on-laptop) {
        @include span-columns(12);
        @include shift(0);
        padding-left: 25px;
        padding-right: 25px;
      }
  }
}

  .post-content {
    @include span-columns(6);
    @include shift(0);
    font-size: 20px;
    line-height: 30px;
    color: rgba(74,74,74,.85);

      @include media-query($on-laptop) {
          // font-size: 36px;
          @include span-columns(12);
          @include shift(0);
          padding-left: 25px;
          padding-right: 25px;


      }
  }
}
