/**
 * Site header
 */
.navbar {
    border-bottom: 1px solid $grey-color-light;
/*    min-height: 56px;*/

    // Positioning context for the mobile navigation icon
    position: relative;
}

.logo {
    float: left;
    padding: 0;
    margin: 0;
    line-height: 85px;
    margin-left: 12%;

    svg {
        @include size(rem(30) rem(30));
    }
}


.site-nav {
    padding: 0;
    margin: 0;
    margin-right: 11%;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}
    .page-link {
        padding-left: 25px;
        width: auto;
        height: 50px;
        margin-top: 10px;

        line-height: 70px;
        color: $grey-color;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
}


/**
 * Site Intro
 */

.hero {
    max-width: -webkit-calc(#{$content-width});
    max-width:         calc(#{$content-width});
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.site-intro {
    width: 85%;
}

.site-intro-title {
    font-size:28px;
    line-height: 1.1;
    text-align: left;
    margin-top: $spacing-unit * 3;
    margin-bottom: $spacing-unit * 4;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}


/**
 * Site footer
 */
.site-footer {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.footer-name {
    padding: 5px;
    width: auto;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: $grey-color;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

.footer-social {
    padding: 5px;
    width: auto;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: $grey-color;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.footer-copyright {
    padding: 5px;
    width: auto;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: $grey-color;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    margin-bottom: $spacing-unit;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        border-bottom: 1px solid $grey-color-light;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    float: right;
    display: inline;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-top: $spacing-unit * 3;
    margin-bottom: $spacing-unit * 3;
}

.post-title {
    font-size: 60px;
    line-height: 1;
    text-align: center;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    max-width: -webkit-calc(#{$content-width} / 1.6);
    max-width:         calc(#{$content-width} / 1.6);
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
