@mixin split($gap) {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	gap: $gap;
}

@mixin thirds($gap) {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: $gap;
}

@mixin aside($gap) {
	display: inline-grid;
	grid-template-columns: 3fr 1fr;
	gap: $gap;
}