@mixin split($gap) {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap;
}

@mixin thirds($gap) {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $gap;
}

@mixin aside($gap) {
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
  gap: $gap;
}

@mixin aside-test($gap) {
  display: inline-grid;
  grid-template-columns: auto 25%;
  gap: $gap;
}

@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin margin-bottom($number) {
  margin-bottom: #{$number * $base-line-height + "rem"};
}

@mixin margin-top($number) {
  margin-top: #{$number * $base-line-height + "rem"};
}

@mixin margin($top, $bottom) {
  margin-top: #{$top * $base-line-height + "rem"};
  margin-bottom: #{$bottom * $base-line-height + "rem"};
}

// @mixin line-height($number) {
//   line-height: #{$number * $line-height};
// }

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin font-size($min, $max) {
  font-size: clamp(
    #{$min * $base-font-size + "px"},
    #{$min * 2 + "vw"},
    #{$max * $base-font-size + "px"}
  );
}
