.cards {
	@include outer-container;
	@include pad($section-pad $outer-pad);
	@include perspective(1000px);

	.card {
		opacity: 1;
		background: #FFF;
		margin-bottom: $gutter;
		border-radius: 4px;

		@include transition(
			opacity 0.4s ease 0s,
			transform 0.4s ease 0s,
			box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		);

		@include media($desktop) {
			@include span-columns(4);
			@include omega(3n);
		}

		@include media($tablet) {
			@include span-columns(6);
			@include omega(2n);
		}

		@include media($mobile) {
			@include span-columns(12);
			@include omega(1n);
		}

		.card-thumbnail {
			@extend .u-full-width;
			@include border-top-radius(4px);
		}

		.card-text {
			padding: rem(20);
		}

		p {
			margin: 0;
			line-height: 1.5;
		}

		h3 {
			margin-bottom: rem(12);
			color: $heading-color;
			&:hover {text-decoration: underline;}
		}

		.icon {
			padding: rem(30) 0 rem(10);
			width: 75%;
			margin: 0 auto;
			display: block;
		}
	}

	.card-hidden {
		opacity: 0;
		@include transform(translateZ(rem(20)));
	}
}

/* Case Study specific styles */
.case-studies, .category-cards {
	background: $background-color-grey;
	$thumbnail-size: rem(200);

	.card {
		position: relative;
		border: none;
		color: $text-color;

		p:first-of-type {
			margin-bottom: rem(20);
			font-size: rem(16);
		}

		&:only-child {
			margin: 0 auto;
			display: block;
			float: none;
		}

		&:hover {
			cursor: pointer;

			@include media($desktop) {
				box-shadow: 0 0 32px rgba(0,0,0,0.30);
			}
		}
	}

	.study-title {
		margin: 0 rem(20);
		display: block;
		position: relative;
		font-size: rem(26);
		color: $white;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&:hover {
			border-color: $white;
		}
	}

	.card-thumbnail {
		border-radius: $base-border-radius $base-border-radius 0 0;
		height: $thumbnail-size;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.card-thumbnail .study-info {
		@include transition(transform .25s ease);
	}

	.card-thumbnail:hover .study-info {
		@include transform(translateY(rem(-8)));
	}

	.cards .card-text p {
		font-size: rem(16);
	}

	.card-thumbnail:before {
		content: '';
		display: block;
		height: $thumbnail-size;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		border-radius: $base-border-radius $base-border-radius 0 0;
	}

	.study-info {
		line-height: 0;
		position: relative;
		top: rem(140);
	}

	.category {
		position: relative;
		top: rem(-18);
		left: rem(20);
		text-transform: uppercase;
		font-weight: bold;
		font-size: rem(12);
		background: transparentize($white, 0.15);
		padding: rem(4) rem(6);
		border-radius: $base-border-radius;
	}

	.engineering .card-thumbnail:before {
		@include linear-gradient(180deg,
			transparentize($engineering-gradient-a, $gradient-opacity) 0%,
			transparentize($engineering-gradient-b, $gradient-opacity) 100%
		);
	}

	.sciences .card-thumbnail:before {
		@include linear-gradient(180deg,
			transparentize($sciences-gradient-a, $gradient-opacity) 0%,
			transparentize($sciences-gradient-b, $gradient-opacity) 100%
		);
	}

	.finance .card-thumbnail:before {
		@include linear-gradient(180deg,
			transparentize($finance-gradient-a, $gradient-opacity) 0%,
			transparentize($finance-gradient-b, $gradient-opacity) 100%
		);
	}

	.engineering .category {
		color: $engineering-gradient-a;
	}

	.sciences .category {
		color: $sciences-gradient-a;
	}

	.finance .category {
		color: $finance-gradient-a;
	}

	.author {
		font-size: rem(16);
		line-height: 1.4;
		margin: rem(-3) 0 0 rem(53);
		font-weight: 600;
		letter-spacing: 0;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.author-role {
		font-size: rem(12);
		padding-top: 3px;
		line-height: 1.3;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.avatar {
		float: left;
		width: 43px;
		margin-right: 10px;
		border-radius: 50%;
	}

	h3, .actions {
		text-align: center;
	}

	.cards-wrapper {
		@include clearfix;
		padding: rem(30) 0;
	}

	.card-text p {
		max-height: 4.7em;
		overflow: hidden;

		@include media($tablet) {
			max-height: 6em;
		}

		@include media($mobile) {
			max-height: 100%;
		}
	}
}

.category-cards {
	padding-top: 0;
}

/* Cards for contact details */
.contact-cards {
	@include outer-container;
	@include pad(0 $outer-pad $section-pad);

	@include media($mobile) {
		@include pad(0 $outer-pad $section-pad/2);
	}

	h2 {
		margin-bottom: rem(50);
		text-align: center;
	}

	&-location {
		svg {
			margin: 0 auto;
			display: block;
			margin-bottom: rem(20);
		}

		h3 {
			text-align: center;
			margin: 0;
			letter-spacing: 0;
		}
	}

	&-item {
		@include span-columns(4);
		@include omega(3n);
		margin-bottom: rem(20);
		padding: rem(40) rem(30) rem(30);
		background: $white;
		border: 1px solid $base-border-color;
		border-radius: $base-border-radius;

		@include media($tablet) {
			@include span-columns(6);
			@include omega(2n);
		}

		@include media($mobile) {
			@include span-columns(12);
			@include omega();
			padding: rem(30) rem(20) rem(30);
		}

		&:nth-of-type(1) {
			h3 { color: $orange-red; }
		}

		&:nth-of-type(2) {
			h3 { color: $purple; }
		}

		&:nth-of-type(3) {
			h3 { color: $green; }
		}
	}

	&-info {
		padding-top: rem(30);

		p {
			margin-bottom: 0;
		}

		.phone {
			padding-top: rem(10);
		}

		ul {
			margin-bottom: 0;
			margin-top: -12px;
		}

		ul li {
			list-style: none;
			margin-bottom: 0;
			margin-left: rem(25);
		}

		ul li:before {
			content: '';
			display: inline-block;
			@include size(rem(32));
			@include position(relative, 9px null null);
			margin-left: rem(-32);
		}

		a.button {
			margin-top: rem(30);
			width: 100%;
			margin-bottom: 0;
		}

		.address:before {
			background: url('#{$assets}/icons/icon-location-pin.svg') no-repeat;
		}

		.phone:before {
			background: url('#{$assets}/icons/icon-phone.svg') no-repeat;
		}

		.twitter:before {
			background: url('#{$assets}/icons/icon-twitter-contact.svg') no-repeat;
		}

		.facebook:before {
			background: url('#{$assets}/icons/icon-facebook.svg') no-repeat;
		}

		.linkedin:before {
			background: url('#{$assets}/icons/icon-linkedin.svg') no-repeat;
		}
	}
}

/* Services Cards */
.services-cards {
	@include outer-container;
	@include pad($section-pad/2 $outer-pad);

	h2 {
		@include heading-context;
		margin-bottom: rem(30);
	}

	&-item {
		@include span-columns(6);
		@include omega(2n);

		background: $white;
		border: 1px solid $base-border-color;
		border-radius: $base-border-radius;
		@include pad(rem(30));
		margin-bottom: rem(30);

		@include media($mobile) {
			@include span-columns(12);
			@include omega();
			@include pad(rem(30) rem(15));
			text-align: center;
		}
	}

	&-icon,
	&-info {
		float: left;
		display: block;

		@include media($mobile) {
			float: none;
		}
	}

	&-icon {
		margin: rem(20) rem(40) 0 rem(10);
		fill: $primary-color;
		@include size(rem(110) rem(113));

		@include media(max-width 1070px 12) {
			float: none;
			margin: 0 auto;
			margin-bottom: rem(20);
		}
	}

	&-label {
		@include heading-context;
	}

	h3 {
		margin-bottom: rem(5);
		margin-top: rem(18);
	}

	a:after {
		@include chevron;
		top: rem(10);
	}

	p {
		margin-bottom: rem(17);
	}
}

// Adaptivity cards
.state-cards {
	@include outer-container;
	@include pad(0 $outer-pad $section-pad/2);

	&-wrapper {
		@include row(table);
		@include fill-parent();
		border: 1px solid $base-border-color;
		border-radius: $base-border-radius;
	}

	&-tag {
		@include heading-context;
		margin-bottom: rem(20);
	}

	&-item {
		@include span-columns(6);
		@include reset-display;
		padding: rem(30) rem(70);
		overflow: hidden;

		@include media(max-width 1070px 12) {
			padding: rem(30);
		}

		@include media($tablet) {
			@include span-columns(12);
		}
	}

	&-item:first-child {
		border-right: 1px solid $base-border-color;

		@include media($tablet) {
			border-right: none;
			border-bottom: 1px solid $base-border-color;
		}
	}

	&-statelist {
		display: inline-block;
		position: relative;
		vertical-align: top;
		width: 100%;

		.state-cards-state {
			position: absolute;
			white-space: nowrap;
			left: 0;
			top: 0;
			opacity: 0;
			top: .2em;
			display: block;
			margin: 0 auto;
			width: 100%;

			+ .state-cards-state {
				margin-top: 0;
			}

			&.is-visible {
				top: 0;
				opacity: 1;
				position: relative;
				@include animation(slide-in .6s);
			}

			&.is-hidden {
				left: 50%;
				@include animation(slide-out .6s);
			}
		}
	}

	&-state {
		@include clearfix;
	}

	&-state + .state-cards-state {
		margin-top: rem(20);
	}

	.icon, .text {
		float: left;
		display: block;

		@include media(max-width 1070px) {
			width: 100%;
			text-align: center;
		}
	}

	.icon {
		margin-right: rem(25);

		@include media(max-width 1070px) {
			margin-bottom: rem(12);
		}
	}

	&-item:first-child .icon svg { fill: #FF6F42; }
	&-item:last-child .icon svg { fill: #8030E1; }

	h3 {
		margin: rem(-3) 0 rem(4);
	}

	@include keyframes(slide-in) {
		0% {
			opacity: 0;
			@include transform(translateY(-100%));
		}

		60% {
			opacity: 1;
			@include transform(translateY(20%));
		}

		100% {
			opacity: 1;
			@include transform(translateY(0));
		}
	}

	@include keyframes(slide-out) {
		0% {
			opacity: 1;
			@include transform(translateY(0) translateX(-50%));
		}

		60% {
			opacity: 0;
			@include transform(translateY(120%) translateX(-50%));
		}

		100% {
			opacity: 0;
			@include transform(translateY(100%) translateX(-50%));
		}
	}
}

.features + .state-cards {
	padding-top: $section-pad;
}
