/* General hero banners */

.hero {
	margin-top: $navbar-height;
	background: $charcoal-grey;

	.hero-wrapper {
		@include outer-container;
		@include pad($section-pad $outer-pad);

		@include media($mobile) {
			@include pad(rem(60) $outer-pad);
		}
	}

	.hero-content {
		@include span-columns(9);
		@include shift(1.5);
		text-align: center;

		@include media($tablet) {
			@include span-columns(12);
			@include shift(0);
			padding: 2em 0;
		}

		@include media($mobile) {
			padding: 0;
		}
	}

	.button {
		display: inline-block;
		min-width: rem(170);

		@include media($mobile) {
			margin: 0 auto rem(10);
		}
	}

	p, h1 {
		color: $white;
	}

	p:last-child {
		margin-bottom: 0;
	}
}


// Home Hero
.home .hero,
.index-purple .hero {
	background: $background-color;

	.hero-wrapper {
		@include outer-container;
		@include pad($section-pad $outer-pad 0);
		overflow: hidden;

		@include media($desktop-hd) {
			min-height: rem(693);
		}

		@include media($mobile) {
			@include pad(rem(60) $outer-pad 0);
		}
	}

	.hero-content {
		@include media(max-width 1030px) {
			@include span-columns(12);
			@include shift(0);
		}

	}

	p, h1 {
		color: $heading-color;
		margin: 0;
	}

	.video-modal-trigger {
		margin-top: rem(10);
	}

	img {
		padding-top: rem(30);
		position: relative;
		z-index: 20;
		display: block;
		margin: 0 auto;
		@include image-rendering(optimizeSpeed);
	}

	&:after {
		content: '';
		display: block;
		border-bottom: 1px solid $base-border-color;
		height: rem(100);
		margin-top: rem(-100);

		@include animation(fadeIn 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s forwards);
		@include linear-gradient(to top, rgba(237, 240, 244, 0.9), rgba(237, 240, 244, 0), $fallback: transparent);
	}

	@include keyframes(fadeIn) {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@include keyframes(heroFade) {
		from {
			opacity: 0;
			@include transform(translateY(rem(-35)));
		}
		to {
			opacity: 1;
			@include transform(translateY(rem(0)));
		}
	}

	@include keyframes(heroImg) {
		from {
			opacity: 0;
			@include transform(translateY(50%));
		}
		to {
			opacity: 1;
			@include transform(translateY(0));
		}
	}

	.anim-start h1 {
		color: $heading-color;
		@include animation(heroFade 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s forwards);
	}

	.anim-start a {
		color: $primary-color;
	}

	.anim-start .video-modal label {
		@include animation(heroFade 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s forwards);
	}

	.anim-start img {
		@include animation(heroImg 1s ease 0.5s forwards);
	}
}

.no-cssanimations .home .hero,
.no-js .home .hero {
	h1, img, .video-modal label {
		opacity: 1;
	}

	&:after {
		opacity: 1;
	}

	& + .scroll-prompt {
		opacity: 1;
	}
}

.home .hero-content {
	@include span-columns(8);
	@include shift(2);

	@include media($tablet) {
		@include span-columns(12);
		@include shift(0);
	}
}

.scroll-prompt {
	font-size: rem(18);
	text-align: center;
	padding: rem(40) 0 rem(10);
	display: block;
	border: none;
	color: transparentize($text-color, 0.2);
	@include transition (all .3s ease);

	&:after {
		@include chevron;
		@include transform(rotate(135deg));
		@include transition (all .3s ease);
	    left: rem(10);
	    top: rem(11);
	    border-color: transparentize($text-color, 0.2);
	}

	&:hover {
		border: none;
		color: $text-color;
		&:after {
			border-color: $text-color;
		}
	}

	@include media($mobile) {
		display: none;
	}
}

/* --------------------------------
ALTERNATE VARIATIONS BELOW [HAMISH REMEMBER TO DELETE IF UNUSED]
-------------------------------- */

/* --------------------------------
Home Purple (delete if unused)
-------------------------------- */

.index-purple {
	margin-top: 0;
}

.index-purple .hero,
.p-nav {
	background : -moz-linear-gradient(0% 50% 0deg,rgba(36, 51, 106, 1) 0%,rgba(51, 48, 112, 1) 10.26%,rgba(62, 46, 117, 1) 24.46%,rgba(69, 44, 119, 1) 44.47%,rgba(71, 44, 120, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(36, 51, 106, 1) 0%, rgba(51, 48, 112, 1) 10.26%, rgba(62, 46, 117, 1) 24.46%, rgba(69, 44, 119, 1) 44.47%, rgba(71, 44, 120, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(36, 51, 106, 1) ),color-stop(0.1026,rgba(51, 48, 112, 1) ),color-stop(0.2446,rgba(62, 46, 117, 1) ),color-stop(0.4447,rgba(69, 44, 119, 1) ),color-stop(1,rgba(71, 44, 120, 1) ));
	background : -o-linear-gradient(0deg, rgba(36, 51, 106, 1) 0%, rgba(51, 48, 112, 1) 10.26%, rgba(62, 46, 117, 1) 24.46%, rgba(69, 44, 119, 1) 44.47%, rgba(71, 44, 120, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(36, 51, 106, 1) 0%, rgba(51, 48, 112, 1) 10.26%, rgba(62, 46, 117, 1) 24.46%, rgba(69, 44, 119, 1) 44.47%, rgba(71, 44, 120, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#24336A', endColorstr='#472C78' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(36, 51, 106, 1) 0%, rgba(51, 48, 112, 1) 10.26%, rgba(62, 46, 117, 1) 24.46%, rgba(69, 44, 119, 1) 44.47%, rgba(71, 44, 120, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24336A',endColorstr='#472C78' , GradientType=1);

	margin-top: 0;

	h1 {
		color: $white;
	}

	&:after {
		display: none;
	}
}

.p-nav {
	.login-buttons li a,
	ul li a {
		color: $white;
	}

	ul li a:hover {
		background: transparent !important;
	}

	border: none;
	position: relative;

	svg .st0 {
		fill: $white;
	}
}


/* --------------------------------
Video Hero DELETE IF VARIATION NOT USED
-------------------------------- */

.index-video .hero.video {
	background: none;
	height: 800px;
	overflow: hidden;
	position: relative;

	.hero-wrapper {
		padding: 0;
		z-index: 50;
		position: relative;
	}

	.hero-content {
		position: absolute;
		margin-top: 275px;
		padding: 0 rem(20);
	}

	.video-wrapper {
		display: block;
		position: relative;
		height: 100%;
		padding: 0;
	}

	video {
		min-height: 100%;
		width: auto;
		min-width: 100%;
	}

	.scroll-prompt {
		margin: 0 auto;
		@include size(40px);
		border: 2px solid rgba(255, 255, 255, 0.7);
		display: block;
		z-index: 50;
		position: absolute;
		bottom: 20px;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 50%;
		cursor: pointer;

		&:before {
			border-style: solid;
			border-width: 2px 2px 0 0;
			border-color: rgba(255, 255, 255, 0.7);
			content: '';
			display: inline-block;
			height: 0.45em;
			position: relative;
			vertical-align: top;
			width: 0.45em;
			top: 14px;
			@include transform(rotate(135deg));
		}
	}
}
