@import
	"hero-banners",
	"modals",
	"cards",
	"features",
	"pricing-tables",
	"institution-logos",
	"forms"
;

/* General Layout Modules
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* For articles & long text */
.text-section {
	@include outer-container;
	@include pad($section-pad/2 $outer-pad);

	&:last-child {
		@include pad($section-pad/2 $outer-pad $section-pad);
	}

	&:first-child {
		padding-top: 0;
	}

	@include media($mobile) {
		@include pad($section-pad/2 $outer-pad);
	}

	blockquote {
		line-height: 1.4;
		text-align: center;
		font-size: rem(24);
		margin: rem(48) 0;
	}

	blockquote:after {
		height: 1px;
		content: '';
		background: rgba(0,0,0, 0.2);
		display: block;
		width: 166px;
		text-align: center;
		margin: 0 auto;
		margin-top: 40px;
	}

	.text-section-content {
		@include pad(0 0 $section-pad/2);
		@include span-columns(8);
		@include shift(2);

		@include media($tablet) {
			@include span-columns(12);
			@include shift(0);
		}
	}

	.text-section-content.divider {
		padding-bottom: $section-pad;
	}

	.text-section-content.divider + .text-section-content {
		padding-top: $section-pad;
	}

	p:last-child {
		margin: 0;
	}

	.centered {
		text-align: center;
	}
}

// Page-specific modifications
.services .text-section,
.services .text-section .text-section-content {
	padding-top: 0;
}

/* Icon columns */
.icon-columns {
	text-align: center;
	@include outer-container;
	@include pad($section-pad $outer-pad);

	img {
		text-align: center;
		padding-bottom: rem(15);
		max-width: 100%;
		box-sizing: border-box;
	}

	.icon {
		@include media($desktop) {
			@include span-columns(4);
			@include omega(3n);
		}

		@include media($tablet) {
			@include span-columns(12);
			@include omega(1n);
			padding-bottom: rem(60);
		}
	}
}

/* CTA Prompt */
.cta-prompt {
	@include outer-container;
	@include pad($section-pad/2 $outer-pad $section-pad);

	.cta-prompt-text {
		@include span-columns(8);
		@include shift(2);
		text-align: center;

		.button {
			margin: 0 auto;
		}

		@include media($tablet) {
			@include span-columns(12);
			@include shift(0);
		}
	}
}

.text-section .cta-prompt-text {
	padding-top: $section-pad;
	text-align: center;
}

// Cirlced ordered list
ol.circle-list {
	counter-reset: li-counter;
	list-style-type: none;
	padding: 0px;
	margin: 0px 0px 0px 2.3em;

	li {
		position: relative;
		margin-bottom: 20px;
		padding-left: 0.5em;
		min-height: 2em;
	}

	li:before {
		@include position(absolute, 0 null null -1.4em);
		@include size(1.4em);
		padding: 0px;

		color: $green;
		text-align: center;
		font-size: 1.4em;
		line-height: 1.2;
		border-radius: 50%;
		border: 2px solid $green;

		content: counter(li-counter, decimal);
		counter-increment: li-counter;
	}
}