---
layout: default
title: Contact
permalink: /contact/
refID: contact
---

<section class="hero">
	<div class="hero-wrapper">
		<div class="hero-content">
			<h1>We’d love to hear from you</h1>
			<p>We'd love to hear from you if you’ve got any requests, feedback or comments. Please fill in the form below and we’ll be in touch with you soon.</p>
		</div>
	</div>
</section>

<section class="contact-form">
	<div class="error-field display-none">Looks like you have a field or two that still need attention.</div>
	<div class="contact-form-container">
		<div class="contact-form-input">
			<label for="firstName">First Name</label>
			<input type="text" id="firstName">
		</div>

		<div class="contact-form-input">
			<label for="lastName">Surname</label>
			<input type="text" id="lastName">
		</div>

		<div class="contact-form-input">
			<label for="email">Email</label>
			<input type="email" id="email">
		</div>

		<div class="contact-form-input">
			<label for="phone">Phone</label>
			<span class="optional">optional</span>
			<input type="tel" id="phone">
		</div>

		<div class="contact-form-input">
			<label for="role">Role</label>
			<select id="role">
				<option value="">I am a...</option>
				<option value="1"> Student </option>
				<option value="2"> Instructor </option>
				<option value="3"> Other </option>
			</select>
		</div>

		<div class="contact-form-input">
			<label for="organisation">Organisation</label>
			<input type="text" id="organisation">
		</div>

		<div class="contact-form-input-full">
			<label for="message">Message</label>
			<textarea id="message"></textarea>
		</div>

		<div class="contact-form-input-file">
			<div class="file-button">
					<input type="button" value="Attach a file" />
			</div>
			<input type="file" id="file" name="theFile"></input>
			<p class="filename">No file selected</p>

			<button class="button button-primary">Send Message</button>
		</div>
	</div>
</section>

<section class="contact-cards">
	<h2>Where to find us</h2>
	<div class="contact-cards-container">
		<div class="contact-cards-item">
			<div class="contact-cards-location">
				{% include svg/icon-sanfrancisco.svg %}
				<h3>San Francisco</h3>
			</div>
			<div class="contact-cards-info">
				<ul>
					<li class="address">Level 4, 44 Tehama St. CA 94105, San Francisco</li>
					<li class="phone">+1 415.805.1888</li>
				</ul>
				<a href="https://www.google.com/maps/place/44+Tehama+St,+San+Francisco,+CA+94105/@37.7874944,-122.3965335,17z/data=!3m1!4b1!4m2!3m1!1s0x8085807c981f15c5:0x4a24f6446b284af6" class="button">Get directions</a>
			</div>
		</div>

		<div class="contact-cards-item">
			<div class="contact-cards-location">
				{% include svg/icon-sydney.svg %}
				<h3>Sydney</h3>
			</div>
			<div class="contact-cards-info">
				<ul>
					<li class="address">Level 5, 116-122 Kippax St. Surrey Hills, NSW 2010</li>
					<li class="phone">+61 2 8096 8096</li>
				</ul>
				<a href="https://www.google.com/maps/place/116%2F122+Kippax+St,+Surry+Hills+NSW+2010,+Australia/@-33.8854832,151.2113793,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12ae1f46f3922d:0x5ed6a0ac47124737" class="button">Get directions</a>
			</div>
		</div>

		<div class="contact-cards-item">
			<div class="contact-cards-location">
				{% include svg/icon-web.svg %}
				<h3>Around the Web</h3>
			</div>
			<div class="contact-cards-info">
				<ul>
					<li class="twitter"><a href="https://twitter.com/smart_sparrow">Follow</a> us on Twitter</li>
					<li class="facebook"><a href="https://www.facebook.com/smartsparrow">Find</a> us on Facebook</li>
					<li class="linkedin"><a href="http://www.linkedin.com/company/smart-sparrow">Connect</a> with us on LinkedIn</li>
				</ul>
				<a href="mailto:contact@smartsparrow.com" class="button">Send us an email</a>
			</div>
		</div>
	</div>
</section>


<form style="display:none;" action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads752189000005961001 method='POST' enctype='multipart/form-data' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8'>

	 <!-- Do not remove this code. -->
	<input type='text' style='display:none;' name='xnQsjsdp' value='225018bbae2e63a2f920e979240dbdd4af0333e13c272cda0745ed805e5fc9d8'/>
	<input type='hidden' name='zc_gad' id='zc_gad' value=''/>
	<input type='text' style='display:none;' name='xmIwtLD' value='d291bb1b52dda182a007ed68531f48e3e72989cf59fdd99008546b634ab4058d'/>
	<input type='text' style='display:none;'  name='actionType' value='TGVhZHM='/>
	<input type='text' style='display:none;' name='returnURL' value='{{ site.baseUrl }}/contact/contact-received/' />
	<input type='text' style='display:none;' name='Lead Source' value='SmartSparrow.com - Contact Request'/>
	<input type='text' style='display:none;' name='Lead Status' value='Not Contacted'/>
	<table style='width:600px;background-color:white;color:black'>

	<tr><td colspan='2' style='text-align:left;color:black;font-family:Arial;font-size:14px;'><strong>smartsparrow.com contact form</strong></td></tr>

	<tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>First Name<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='40' name='First Name' /></td></tr>

	<tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>Last Name<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='80' name='Last Name' /></td></tr>

	<tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>Email</td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='100' name='Email' /></td></tr>

	<tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>Phone</td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='30' name='Phone' /></td></tr>

	<tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>Role</td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='255' name='LEADCF4' /></td></tr>

	<tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>Company</td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='100' name='Company' /></td></tr>

	<tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>Description </td><td> <textarea name='Description' maxlength='1000' style='width:250;'></textarea></td></tr>

	<tr><td style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>Upload a File</td>
			<td id="inputDrop" style='padding-top: 10px;'></td>
			<td></td>
	</tr>

	<tr><td colspan='2' style='text-align:center; padding-top:15px;'>
		<input style='font-size:12px;color:#131307' type='submit' value='Submit' />
		<input type='reset' style='font-size:12px;color:#131307' value='Reset' />
			</td>
	</tr>
	 </table>
	<script>
		var mndFileds=new Array('First Name','Last Name');
		var fldLangVal=new Array('First Name','Last Name');

		function checkMandatory() {
		var name='';
		var email='';
		for(i=0;i<mndFileds.length;i++) {
			var fieldObj=document.forms['WebToLeads752189000005961001'][mndFileds[i]];
			if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
				alert(fldLangVal[i] +' cannot be empty');
							fieldObj.focus();
							return false;
			}  else if(fieldObj.nodeName=='SELECT') {
						 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' cannot be none');
				fieldObj.focus();
				return false;
				 }
			} else if(fieldObj.type =='checkbox'){
			 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
				 }
			 }
			 try {
					 if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
					}
			} catch (e) {}
				}
		}
		 try {
				if($zoho) {
			var LDTuvidObj = document.forms['WebToLeads752189000005961001']['LDTuvid'];
			if(LDTuvidObj) {
							LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();
			}
			var firstnameObj = document.forms['WebToLeads752189000005961001']['First Name'];
			if(firstnameObj) {
					 name = firstnameObj.value +' '+name;
			}
			$zoho.salesiq.visitor.name(name);
			var emailObj = document.forms['WebToLeads752189000005961001']['Email'];
			if(emailObj) {
					 email = emailObj.value;
					 $zoho.salesiq.visitor.email(email);
			}
				}
		} catch(e) {}
			 }
		 </script>
	</form>

<script>
	function checkValidation(){

		var noError = true;

		var $firstName = $('#firstName');
		$firstName.toggleClass('error', $firstName.val() === "");
		if($firstName.val() === ""){ noError = false; }

		var $lastName = $('#lastName');
		$lastName.toggleClass('error', $lastName.val() === "");
		if($lastName.val() === ""){ noError = false; }

		var $email = $('#email');
		$email.toggleClass('error', $email.val() === "");
		if($email.val() === ""){ noError = false; }

		var $role = $('#role');
		$role.toggleClass('error', $role.val() === "");
		if($role.val() === ""){ noError = false; }

		var $organisation = $('#organisation');
		$organisation.toggleClass('error', $organisation.val() === "");
		if($organisation.val() === ""){ noError = false; }

		var $message = $('#message');
		$message.toggleClass('error', $message.val() === "");
		if($message.val() === ""){ noError = false; }

		return noError;
	}

	window.onload = function () {
		$('.contact-form button').click(function(){

			if(!checkValidation()){
				$('.error-field').toggleClass('display-none', false);
				return;
			}

			$('input[name="First Name"]').val($('#firstName').val());
			$('input[name="Last Name"]').val($('#lastName').val());
			$('input[name="Email"]').val($('#email').val());
			$('input[name="Phone"]').val($('#phone').val());
			$('input[name="LEADCF4"]').val($('#role option:selected').text());
			$('input[name="Company"]').val($('#organisation').val());
			$('textarea[name="Description"]').val($('#message').val());
			$('input[type="submit"]').trigger('click');

		});

		$('#file').change(function(){
				var clone = $(this).clone();
				var $this = $(this), $clone = $this.clone();
				$this.after($clone).appendTo($("#inputDrop"));
		});
	};
</script>

