---
layout: default
title: Writing
permalink: /writing/
description: I mainly write about design, film, and observations in between. I mainly write about design, film, and observations in between.
---

<div class="wide">
  <header class="post-header">
    <div class="test">
    <h1 class="title">Featured posts.</h1>
    </div>
    <!-- <div class="page-intro">
      <div class="copy">
        <p>{{ page.description }}</p>
      </div>
      <div class="pair">
        <h3 class="CTA">Want to work together?</h3>
        <a class="button button-primary" href="#">Email me -></a>
        <p>If you have a project, design work ot If you ot If you have a project, design work ot, or reach out on twitter.</p>
      </div>
    </div> -->
  </header>

  <section class="project-cards">
    {% for post in site.posts %}
    {% if post.featured %}
    <a class="card" href="{{ post.url }}">
      <div class="project-content">
        <div class="project-info">
          <h3 class="project-title">{{ post.title }}</h3>
          <p class="post-metas">08 January 2016</p>
          <!-- <h3 class="project-title">{{ post.title }}</h3> -->
        </div>
        <p class="project-excerpt">{{ post.description | strip_html | truncatewords:20}}</p>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </section>
</div>

<div class="wide">
  <!-- <header class="post-header">
    <div class="test">
      <h1 class="title">All Posts</h1> -->
      <!-- <a class="button top button-icon" href="#">include svg/icon-link-live.svg Get in touch</a> -->
    <!-- </div>
  </header> -->

  <div class="posters">
  {% include post-list.html %}
  </div>
</div>
