---
layout: default
title: How it works
group: "navigation"
permalink: /adaptivity/
refID: adaptivity
---

<section class="hero">
	<div class="hero-wrapper">
		<div class="hero-content">
			<h1>Be as good online as you are in class</h1>
			<p>By emulating your talents as an educator, Adaptivity empowers you to be as great online as you are in class, removing the challenge of engaging your students online.</p>
		</div>
	</div>
</section>

<section class="icon-features">
	<div class="icon-features-item">
		<div class="icon-features-icon">
			{% include svg/icon-adaptivity-engagement.svg %}
		</div>
		<h4>Drive Engagement</h4>
	</div>

	<div class="icon-features-item">
		<div class="icon-features-icon">
			{% include svg/icon-adaptivity-failrate.svg %}
		</div>
		<h4>Reduce Failure Rate</h4>
	</div>

	<div class="icon-features-item">
		<div class="icon-features-icon">
			{% include svg/icon-adaptivity-improve.svg %}
		</div>
		<h4>Continuously Improve</h4>
	</div>

	<div class="icon-features-item">
		<div class="icon-features-icon">
			{% include svg/icon-adaptivity-personalise.svg %}
		</div>
		<h4>Personalise Learning</h4>
	</div>
</section>

<section class="text-section">
	<div class="text-section-content">
		<h2 class="centered">How our Adaptivity works</h2>
		<p>We believe that teachers should have complete control over their students’ learning experience. That’s why at Smart Sparrow – Adaptive eLearning is not about some sort of magic, super complex, black box algorithm.  Instead you control how it can adapt to individual students, by addressing individual misconceptions.  We call that control Trap states,  for when you want to trap the student’s behaviour and respond in real time.  Trap States are  a powerful concept that will change the way you teach.</p>
	</div>
</section>

<section class="state-cards">
	<div class="state-cards-wrapper">

		<div class="state-cards-item">
			<div class="state-cards-tag">Conditions</div>
			<div class="state-cards-statelist">
				<div class="state-cards-state is-visible">
					<div class="icon">
						{% include svg/icon-adaptivity-mcq.svg %}
					</div>
					<div class="text">
						<h3>Student chooses option 2</h3>
						<span>On a multiple choice question</span>
					</div>
				</div>
				<div class="state-cards-state">
					<div class="icon">
						{% include svg/icon-adaptivity-mcq.svg %}
					</div>
					<div class="text">
						<h3>Student grasps a concept</h3>
						<span>In this adaptive sequence</span>
					</div>
				</div>
				<div class="state-cards-state">
					<div class="icon">
						{% include svg/icon-adaptivity-mcq.svg %}
					</div>
					<div class="text">
						<h3>Student does something</h3>
						<span>Using some kind of input</span>
					</div>
				</div>
			</div><!-- End statelist -->
		</div>

		<div class="state-cards-item">
			<div class="state-cards-tag">Actions</div>
			<div class="state-cards-statelist">
				<div class="state-cards-state is-visible">
					<div class="icon">
						{% include svg/icon-adaptivity-feedback.svg %}
					</div>
					<div class="text">
						<h3>Show Feedback</h3>
						<span>To address their misconception</span>
					</div>
				</div>
				<div class="state-cards-state">
					<div class="icon">
						{% include svg/icon-adaptivity-feedback.svg %}
					</div>
					<div class="text">
						<h3>Do something</h3>
						<span>That's super cool and interesting</span>
					</div>
				</div>
			</div><!-- End statelist -->
		</div>

	</div>
</section>

<section class="text-section">
	<div class="text-section-content">
		<h2 class="centered">Simple Building Blocks</h2>
		<p>The building blocks of Trap States are conditions and actions. When the conditions are fulfilled, the actions are executed. Conditions can target any Adaptivity Factor, for example, whether the student made a mistake, took a long time, or has not mastered a concept. We call these Adaptivity Factors. Actions can include: giving feedback or changing the learning pathway.</p>
	</div>
</section>

<section class="features">
	<div class="feature-text">
		<h2>Adaptive Feedback</h2>
		<p>The best engagement is the right information at the right time. Students make mistakes: they forget what was said in the lecture, they confuse terms, they use the wrong formula. When this happens teachers provide feedback to students as they learn in order address a misconception. Adaptive eLearning systems allow teachers to do the same by providing instant intelligent feedback exactly when it is needed.</p>
		<a href="{{ site.baseUrl }}/product/">View more of our features</a>
	</div>

	<div class="feature-image">
		<img src="{{ site.baseUrl }}/assets/figures/adaptivity-diagram-feedback.svg" alt="adaptive feedback on a lesson">
	</div>
</section>

<section class="features">
	<div class="feature-text">
		<h2>Adaptive Pathways</h2>
		<p>Each student is different. They learn at varying rates, have different levels of knowledge, and different misconceptions. Teachers need to cater to the individual student. For example, if a student already knows what they are doing they should skip ahead to a more challenging task, or if a student is struggling and missing some required knowledge then they should be directed to resources that help them understand that particular concept.</p>
		<a href="{{ site.baseUrl }}/case-studies/">See how they work in Case Studies</a>
	</div>

	<div class="feature-image">
		<img src="{{ site.baseUrl }}/assets/figures/adaptivity-diagram-pathways.svg" alt="adaptive pathways between screens">
	</div>
</section>

<section class="state-cards">
	<div class="state-cards-wrapper">

		<div class="state-cards-item">
			<div class="state-cards-tag">Conditions</div>

				<div class="state-cards-state">
					<div class="icon">
							{% include svg/icon-adaptivity-mcq.svg %}
					</div>
					<div class="text">
						<h3>Student chooses option 2</h3>
						<span>On a multiple choice question</span>
					</div>
				</div>
				<div class="state-cards-state">
					<div class="icon">
							{% include svg/icon-adaptivity-mcq.svg %}
					</div>
					<div class="text">
						<h3>Student chooses option 2</h3>
						<span>On a multiple choice question</span>
					</div>
				</div>
				<div class="state-cards-state">
					<div class="icon">
							{% include svg/icon-adaptivity-mcq.svg %}
					</div>
					<div class="text">
						<h3>Student chooses option 2</h3>
						<span>On a multiple choice question</span>
					</div>
				</div>
		</div>

		<div class="state-cards-item">
			<div class="state-cards-tag">Actions</div>
				<div class="state-cards-state">
					<div class="icon">
						{% include svg/icon-adaptivity-feedback.svg %}
					</div>
					<div class="text">
						<h3>Show Feedback</h3>
						<span>To address their misconception</span>
					</div>
				</div>
				<div class="state-cards-state">
					<div class="icon">
						{% include svg/icon-adaptivity-feedback.svg %}
					</div>
					<div class="text">
						<h3>Show Feedback</h3>
						<span>To address their misconception</span>
					</div>
				</div>
		</div>

	</div>
</section>

<section class="cta-prompt">
	<div class="cta-prompt-text">
		<h2>Adapt your Teaching</h2>
		<p>A good teacher continually improves and  adapts their teaching. Every time a lecture is given, it’s an improved version based on past experience teaching that subject. Teachers regularly adapt homework and assignments based on their students’ performance. It’s all about continually learning how to teach better.</p>
		<a class="button button-primary" href="{{ site.baseUrl }}/signup">Start now</a>
	</div>
</section>
