---
layout: default
title: Services
group: "navigation"
permalink: /services/
refID: services
---

<section class="hero">
	<div class="hero-wrapper">
		<div class="hero-content">
			<h1>Let’s build something great together</h1>
			<p>We specialise in crafting learning experiences at the forefront of education, delivering unique, engaging and award-winning courseware – and we want to help you achieve the same.</p>
			<a class="button button-primary" href="{{ site.baseurl }}/services/planner/">Get in Touch</a>
		</div>
	</div>
</section>

<section class="services-cards">
	<h2>Select a service to find out more</h2>
	<div class="services-cards-container">
		<div class="services-cards-item">
			{% include svg/icon-services-enterprise.svg %}
			<div class="services-cards-info">
				<span class="services-cards-label">For Institutions</span>
				<h3>Enterprise Services</h3>
				<p>Sustainable solutions that scale</p>
				<a href="{{ site.baseUrl }}/services/enterprise/">Experience the benefit</a>
			</div>
		</div>

		<div class="services-cards-item">
			{% include svg/icon-services-courseware.svg %}
			<div class="services-cards-info">
				<span class="services-cards-label">For Teachers</span>
				<h3>Courseware Development</h3>
				<p>Build your teaching vision</p>
				<a href="{{ site.baseUrl }}/services/courseware/">Experience the benefit</a>
			</div>
		</div>

		<div class="services-cards-item">
			{% include svg/icon-services-training.svg %}
			<div class="services-cards-info">
				<span class="services-cards-label">For Teaching Teams</span>
				<h3>Training Services</h3>
				<p>Create your path to independence</p>
				<a href="{{ site.baseUrl }}/services/training/">Experience the benefit</a>
			</div>
		</div>

		<div class="services-cards-item">
			{% include svg/icon-services-support.svg %}
			<div class="services-cards-info">
				<span class="services-cards-label">For Everyone</span>
				<h3>Support Services</h3>
				<p>Remove barriers to excellence</p>
				<a href="{{ site.baseUrl }}/services/support/">Experience the benefit</a>
			</div>
		</div>
	</div>
</section>

{% include modules/institution_logos.html %}

<section class="cta-prompt">
	<div class="cta-prompt-text">
		<h2>We’re here to help you succeed</h2>
		<p>Our clients have ranged from forward thinking University Institutions such as Arizona State University, to great corporate clients onboarding their new staff. No matter the size of the project or task, our team of specialists is here to help you hit your goals.</p>
		<a class="button button-primary" href="{{ site.baseurl }}/services/planner/">Get in Touch</a>
	</div>
</section>
