---
layout: default
title: Pricing
group: "navigation"
permalink: /pricing/
refID: pricing
---

<section class="hero">
	<div class="hero-wrapper">
		<div class="hero-content">
			<h1>Plans and Pricing</h1>
			<p>Sign up free and Teach up to 5 Students before upgrading</p>
		</div>
	</div>
</section>

<section class="pricing-table">
		<div class="pricing-table-plan">
			<h4 class="pricing-table-label">Starter</h4>
			<div class="pricing-table-cost">39</div>
			<div class="pricing-table-quota">30 Students</div>
			<a class="button button-primary" href="{{ site.baseUrl }}/signup/">Sign Up Free</a>
		</div>

		<div class="pricing-table-plan featured">
			<h4 class="pricing-table-label">Multiple Classes</h4>
			<div class="pricing-table-cost">119</div>
			<div class="pricing-table-quota">100 Students</div>
			<a class="button button-primary" href="{{ site.baseUrl }}/signup/">Sign Up Free</a>
		</div>

		<div class="pricing-table-plan">
			<h4 class="pricing-table-label">Institution</h4>
			<div class="pricing-table-cost">199</div>
			<div class="pricing-table-quota">200 Students</div>
			<a class="button button-primary" href="{{ site.baseUrl }}/signup/">Sign Up Free</a>
		</div>

		<div class="pricing-table-plan">
			<h4 class="pricing-table-label">Enterprise</h4>
			{% include svg/icon-pricing-institution.svg %}
			<div class="pricing-table-quota">Unlimited Students</div>
			<a class="button button-primary" href="{{ site.baseUrl }}/contact/">Contact Us</a>
		</div>
</section>

<section class="pricing-features">
	<h2>All plans include</h2>
	<div class="pricing-features-columns">
		<div class="pricing-features-set">
			<h4>Creating</h4>
			<ul>
				<li>Unlimited Lessons</li>
				<li>Unlimited Loops</li>
				<li>Unlimited Co-authoring</li>
			</ul>
		</div>

		<div class="pricing-features-set">
			<h4>Teaching</h4>
			<ul>
				<li>LMS Integration</li>
				<li>Unlimited Deployments</li>
				<li>Unlimited Collaborators</li>
			</ul>
		</div>

		<div class="pricing-features-set">
			<h4>Analysing</h4>
			<ul>
				<li>Knowledge Analytics</li>
				<li>Lesson Trace Graph</li>
				<li>Class Analytics</li>
			</ul>
		</div>

		<div class="pricing-features-set">
			<h4>Sharing</h4>
			<ul>
				<li>Unlimited Assisstants</li>
				<li>Unlimited Collaborators</li>
				<li>Unlimited Sharing</li>
			</ul>
		</div>
	</div>
</section>

{% include modules/institution_logos.html %}