---
layout: default
refID: case-study
---

<section class="study-header">
   <div class="study-image {{ page.category }}" style="background-image: url({{ page.thumbnail }})">
      <div class="study-header-inner">
         <div class="study-header-details">
            <a href="/case-studies/">Case Studies</a>
            <h1 class="study-title">{{ page.title }}</h1>
            <p>{{ page.heroDesc }}</p>
         </div>
      </div>
   </div>
</section>

<section class="study-intro">
   <div class="study-intro-wrapper">
      <div class="study-intro-inner">
         <div class="study-intro-author">
            <img src="{{ page.avatar }}" alt="{{ page.author }}">
         </div>
         <div class="study-intro-stats">
            <h3>{{ page.author }}</h3>
            <ul>
               <li>
                  {% include svg/icon-study-students.svg %}
                  <span>{{ page.students }} Students <br>
                  <span>Enrolled</span></span>
               </li>
               <li>
                  {% include svg/icon-study-lessons.svg %}
                  <span>{{ page.lessons }} Lessons <br>
                  <span>In this course</span></span></li>
               <li>
                  {% include svg/icon-study-integrated.svg %}
                  <span>{{ page.integrated }} Integrated <br>
                  <span>Thingies</span></span>
               </li>
            </ul>
         </div>
         <div class="study-intro-bio">
            <p>{{ page.authorBio }}</p>
         </div>
      </div>
   </div>
</section>

<article class="study-content">
   <div class="study-inner">
      {{ content }}
   </div>
</article>

<section class="cards category-cards">
   <h3>You might also be interested in:</h3>
   <div class="cards-wrapper">
      {% for study in site.case-studies %}
      {% if study.category == page.category and study.title != page.title %}
      <a class="card {{ study.category }}" href="{{ study.url }}">
         <div class="card-thumbnail" style="background-image: url({{ study.thumbnail }})">
            <div class="study-info">
               <span class="category">{{ study.category }}</span>
               <h4 class="study-title">{{ study.title }}</h4>
            </div>
         </div>
         <div class="card-text">
            <img class="avatar" src="{{ study.avatar }}" alt="{{ study.author }}">
            <h5 class="author">{{ study.author }}</h5>
            <p class="author-role">{{ study.role }}</p>
            <p>{{ study.content | strip_html | truncatewords:17}}</p>
         </div>
      </a>
      {% endif %}
      {% endfor %}
   </div>
   <div class="actions"><a class="button" href="{{ site.baseurl }}/case-studies">All Case Studies</a></div>
</section>