---
layout: default
refID: post
---

{% assign author = site.data.blog-authors[page.author] %}
<div class="post">
	<section class="post-header">
		<div class="post-header-image-wrapper{% if page.image %} overlay" style="background: url('{{ site.baseUrl }}/{{ page.image }}') no-repeat center / cover;{% endif %}">
			<div class="post-header-inner">
				<div class="post-header-content">
					<div class="post-header-text">
						<a href="{{ site.baseUrl }}/blog/">{{ page.category }}</a>
						<h1 class="post-title">{{ page.title }}</h1>
					</div>
					<div class="post-header-author">
						<img src="{{ author.gravatar }}" alt="Picture of {{ author.name }}">
						<span class="name">{{ author.name }}</span> <span class="date">– {{ page.date | date: "%b %-d, %Y" }}</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<article class="post-content">
		<div class="post-content-inner">
			{{ content }}
		</div>
	</article>

</div>
<!-- {% include modules/share_widget.html %} -->