---
layout: default
---
<div class="post">

  <header class="post-header">
    <!-- <div class="details"> -->
      <!-- <p class="context-title">{{ page.tag }}</p> -->
    <div class="post-title">
      <p class="post-metas">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <!-- </div> -->
      <h1 class="post-titles">{{ page.title }}</h1>
      </div>
  </header>
  <div class="details">
  	<p class="context-title">{{ page.tag }}</p>
    <!-- <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
  </div>

  <article class="post-content">
    {{ content }}
  </article>

</div>
