---
layout: default
---

<section class="header fade-in-up-2">
  <!-- <div> -->
  <h1>{{ page.title }}</h1>
  <h5 class="label">
    {{ page.date | date_to_string }} • {% assign words = page.content |
    number_of_words %} {% if words < 360 %} 1 min read {% else %} {{ words |
    divided_by:180 }} min read {% endif %}
  </h5>
  <hr />
  <!-- </div> -->
</section>

<article class="fade-in-up-4">
  {{ content }}
  <div class="blog-next">
    <h5>Next post</h5>
    {% assign posts = site.posts | where_exp:"post","post.url != page.url" %} {%
    for post in posts limit:1 %}
    <a href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <!-- <img src="{{ post.image }}" /> -->
    </a>
    {% endfor %}
  </div>
</article>
