---
layout: default
refID: work
---

<div class="wide">
    <div class="project-header">
      <h3>{{ page.context }}</h3>
      <h1>{{ page.problem }} <span class="joiner">for</span> {{ page.matter }}</h1>
    </div>
  <div class="hero-image"><img src="{{ site.baseUrl }}{{ page.image }}" alt="{% if include.title %}{{ include.title }}{% else if include.description != "" and include.description != null %}{{ include.description }}{% else %}An image related to this article{% endif %}"/></div>
  <div class="page-intro">
    <div class="numero">0{{ page.numero }}</div>
    <div class="numero2">
      <h5>Responsibility</h5>
      <p class="copy">{{ page.role }}</p>
    </div>
    <div class="numero2">
      <h5>Team</h5>
      <p class="copy">{{ page.team }}</p>
    </div>
    <div class="numero2">
      <h5>Links</h5>
      <p class="copy"><a href="{{ page.link1url }}">{{ page.link1name }}</a><br>
      <a href="{{ page.link2url }}">{{ page.link2name }}</a><br>
      <a href="{{ page.link3url }}">{{ page.link3name }}</a></p>
    </div>
  </div>
</div>

<div class="post">
  <article class="post-content">
    {{ content }}
  </article>
</div>
