---
layout: default
refID: secondary
---
<section class="black start">
<div class="widest">
  <div class="project-header">
  <div class="page-intro fade-in-bottom">
    <h1>{{ page.description }}</h1>
    <h3>{{ page.company }}</h3>
    <p>{{ page.role }}, {{ page.timeline }}</p>
  </div>
  <div class="image-intro">
    <img src="{{ site.baseUrl }}{{ page.image }}" alt="{% if include.title %}{{ include.title }}{% else if include.description != "" and include.description != null %}{{ include.description }}{% else %}An image related to this article{% endif %}"/>
  </div>
</div>
  </div>
</section>

<div class="post">
  <article class="post-content">
    {{ content }}
  </article>
</div>

<section class="wide">
   <h2 class="cexplainer">If you enjoyed reading this proejct, you might enjoy these. The rest are over in my <a href="/work">work section.</a></h2>
   <div class="project-tiles">
    {% for project in site.projects | limit: 4 %}
    {% if page.title != project.title %}
    <a class="tile" href="{{ project.url }}">
      <div class="context">
        <h3>{{ project.context }}</h3>
        <p class="numero">0{{ project.numero }}</p>
      </div>
      <h2>{{ project.problem }} for {{ project.matter }}</h2>
       <h4>view solution</h4>
    </a>
    {% endif %}
    {% endfor %}
  </div>
 </section>
