.case-study {
	background: $background-color-grey;

	.study-header {

		position: relative;
		overflow: hidden;

		.study-image {
			background-size: cover;
			background-position: center;

			// This kills fps by spamming paints on the whole viewport so leaving it out for now
			// @include media($desktop) {
			// 	background-attachment: fixed;
			// }

			&:before {
				content: '';
				@include position(absolute, 0 0 0 0);
			}

			&.engineering:before {
				@include linear-gradient(180deg,
					transparentize($engineering-gradient-a, $gradient-opacity) 0%,
					transparentize($engineering-gradient-b, $gradient-opacity) 100%
				);
			}

			&.sciences:before {
				@include linear-gradient(180deg,
					transparentize($sciences-gradient-a, $gradient-opacity) 0%,
					transparentize($sciences-gradient-b, $gradient-opacity) 100%
				);
			}

			&.finance:before {
				@include linear-gradient(180deg,
					transparentize($finance-gradient-a, $gradient-opacity) 0%,
					transparentize($finance-gradient-b, $gradient-opacity) 100%
				);
			}
		}

		&-inner {
			@include outer-container;
			@include pad($section-pad $outer-pad);
			position: relative;

			a, h1, p {
				color: white;
			}

			a:hover {
				border-bottom: 1px solid $white;
			}

			p {
				margin-bottom: 0;
			}
		}

		&-details {
			@include span-columns(8);
			@include shift(2);
			will-change: transform;

			@include media($tablet) {
				text-align: center;
				@include span-columns(12);
				@include shift(0);
			}

			@include media($mobile) {
				opacity: 1;
				@include transform(translateY(0));
			}

			a:before {
				@include chevron;
				margin-right: rem(12);
				@include transform(rotate(-135deg));
			}
		}
	}

	.study-intro {
		background: $white;
		border-bottom: 1px solid $base-border-color;

		&-wrapper {
			@include outer-container;
			@include pad($section-pad $outer-pad);
		}

		&-inner {
			@include span-columns(8);
			@include shift(2);

			@include media($tablet) {
				@include shift(0);
				@include span-columns(12);
			}
		}

		&-author {
			@include span-columns(2);

			img {
				border-radius: 50%;
				@include size(rem(100));
				height: auto;
			}

			@include media(max-width 1080px) {
				@include span-columns(12);
				margin-bottom: rem(15);
				text-align: center;
			}
		}

		&-bio {
			@include span-columns(12);

			p {
				margin-bottom: 0;
			}
		}

		&-stats {
			@include span-columns(10);
			@include omega();
			margin-bottom: rem(30);

			@include media(max-width 1080px) {
				@include span-columns(12);

				h3 { text-align: center; }
				ul { margin: rem(40) 0 0; }
			}

			h3 {
				font-size: rem(32);
				margin-bottom: rem(14);
			}

			ul {
				padding: 0;
				display: block;
				margin-bottom: 0;
				@include clearfix;

				@include media(max-width 1080px) {
					text-align: center;
				}
			}

			li {
				color: $primary-color;
				display: inline-block;
				float: left;
				font-size: rem(18);
				line-height: 1.1em;
				padding: 0 rem(20) rem(20) 0;
				margin-bottom: 0;

				&:first-child {
					padding-left: 0;
				}

				@include media(max-width 1080px) {
					float: none;
					text-align: left;
				}

				span {
					float: left;
					span {
						@include heading-context;
						color: rgba(0, 0, 0, 0.5);
					}
				}

				svg {
					fill: $primary-color;
					float: left;
					margin-right: rem(10);
					position: relative;
					top: rem(-3);
				}
			}
		}
	}

	.study-content {
		@include outer-container;
		@include pad($section-pad $outer-pad);

		.study-inner {
			@include span-columns(8);
			@include shift(2);

			@include media($tablet) {
				@include span-columns(12);
				@include shift(0);
			}
		}
	}
}
