/* Header Navigation */

.logo {
	display: inline-block;
	height: $navbar-height;
	padding: rem(10) 0;

	a {
		margin-top: -1px;
		display: inline-block;
		border: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	a:hover { border: none }

	svg {
		@include size(rem(95) rem(47));
	}

	.text {
		display: none;
		fill:#231F20;

		@include media(1000px) {
			display: block;
		}
	}
}

%navlink {
	text-transform: uppercase;
	font-size: rem(11);
	font-weight: 600;
	letter-spacing: rem(1);
	text-decoration: none;
	line-height: rem(64);
	color: $heading-color;
	display: inline-block;
	padding: 0 rem(17);
	border-bottom: none;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: $navbar-height;
	background: $white;
	z-index: 99;
	padding: 0 $outer-pad;

	// Force new composite layer for animation
	@include media($desktop) {
		will-change: transform;
	}

	.current-page {
		color: $primary-color;
	}

	nav {
		float: right;
		display: inline-block;
	}

	ul {
		list-style: outside none none;
		margin-bottom: 0;
		float: left;

		ul {
			margin: 0;
		}

		li ul li,
		li:first-child {
			position: relative;
			float: left;
			margin-bottom: 0;
		}

		.nav-links a {
			@extend %navlink;
		}

		.nav-links a:hover {
			color: $primary-color;
		}

		.login-buttons, .nav-links {
			float: left;
		}

		.signup, .login {
			display: none;
			padding: 0 rem(17);
			float: right;
			margin-top: rem(13);
			margin-left: rem(17);
			line-height: 3.2;
		}

		.signup {
			margin-left: rem(10);
			@include media(430px) {
				display: block;
			}
		}

		.login {
			@include media(550px) {
				display: block;
			}
		}

		// Login and signup links for mobile nav
		li a.login-link, li a.signup-link {
			display: block;
		}

		li a.login-link {
			@include media(550px) {
				display: none;
			}
		}

		li a.signup-link {
			@include media(430px) {
				display: none;
			}
		}
	}
}

.navbar .menu-toggle {
	@extend %navlink;
	position: absolute;
	top: 0px;
	right: 0px;
	padding-right: 0;
	border: none;
	height: $navbar-height;
	background: none;
	padding-left: 36px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@include media($mobile) {
		font-size: rem(16);
	}

	&:hover {
		color: $heading-color;
	}
}

#menu-icon {
	display: none;
}

/* Open Mobile menu */
@include media(max-width 1000px, 12) {

	// Animated hamburger icon
	#menu-icon {
		width: 16px;
		height: 10px;
		position: relative;
		@include transform(rotate(0deg));
		cursor: pointer;
		left: -44px;
		top: 28px;
		display: block;

		@include media($mobile) {
			left: -60px;
		}

		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: rgba(76, 76, 76, 1);
			border-radius: 2px;
			opacity: 1;
			left: 0;
			@include transform(rotate(0deg));
			@include transition(.25s ease-in-out);
		}

		span:nth-child(1) {
			top: 0px;
			@include transform-origin(left center);
		}

		span:nth-child(2) {
			top: 4px;
			@include transform-origin(left center);
		}

		span:nth-child(3) {
			top: 8px;
			@include transform-origin(left center);
		}
	}

	.menu-open #menu-icon {
		span:nth-child(1) {
			@include transform(
				rotate(45deg)
				translateX(rem(-0.2))
				translateY(rem(-2))
				);
		}

		span:nth-child(2) {
			width: 0%;
			opacity: 0;
		}

		span:nth-child(3) {
			@include transform(
				rotate(-45deg)
				translateX(rem(-0.2))
				translateY(rem(2))
				);
		}
	}

	.navbar ul .nav-links {
		visibility: hidden;
		@include transition(opacity .25s ease);
		top: $navbar-height;
		opacity: 0;
		position: absolute;
		display: block;
		width: 100%;
		background: white;
		height: auto;
		z-index: 99;
		left: 0;
		right: 0;
		border-bottom: 1px solid $base-border-color;

		ul li {
			float: none;
			width: 100%;
		}

		ul li a {
			width: 100%;
			font-size: rem(16);
			text-transform: none;
		}

		ul {
			width: 100%;
		}
	}

	.login-link {
		border-top: 1px solid $base-border-color;
	}

	nav.menu-open .nav-links {
		opacity: 1;
		visibility: visible;
	}

}

/* Navigation animation */
@include keyframes(navSlideIn) {
	from {
		@include transform(translateY(-$navbar-height));
	}
	to {
		@include transform(translateY(0));
	}
}

@include keyframes(navSlideOut) {
	from {
		@include transform(translateY(0));

	}
	to {
		@include transform(translateY(-$navbar-height));
	}
}

.no-transition,
nav .signup.no-transition {
	@include transition(none);
}

@include media(1001px) {
	.navbar {
		&.fixed-nav-in {
			position: fixed;
			border-bottom: 1px solid $base-border-color;
			@include animation(navSlideIn 300ms ease);
		}

		&.fixed-nav-out {
			position: fixed;
			@include animation(navSlideOut 200ms ease);
		}

		&.fixed-nav-in .logo .text,
		&.fixed-nav-out .logo .text {
			display: none;
		}

		&.fixed-nav-in a.signup,
		&.fixed-nav-out a.signup {
			background: $primary-color;
			color: $white;
			border: none;

			&:hover {
				color: $white;
				background: $primary-color-dark;
			}
		}

		ul {
			display: block;
		}

		.menu-toggle {
			display: none;
		}
	}
}