@import "vendor/neat/neat-helpers";

// Grid Settings
$disable-warnings: true;
$border-box-sizing: true;
$outer-padding: 20;
$section-pad: rem(100);
$outer-pad: rem($outer-padding);
$navbar-height: rem(65);
$base-border-radius: 4px;
$max-width: rem(1100 + $outer-padding*2);

@mixin omega-reset($nth) {
	&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	&:nth-child(#{$nth}+1) { clear: none }
}

// Breakpoints
$desktop-hd: new-breakpoint(min-width 1140px 12);
$desktop: new-breakpoint(min-width 768px 12);
$tablet: new-breakpoint(max-width 768px 12);
$mobile: new-breakpoint(max-width 480px 12);

// Fonts
$base-font-family: "adelle-sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: "adelle-sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 1em;
$base-line-height: 1.6;
$heading-line-height: 1.4;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Font colors
$text-color: rgba(0, 0, 0, 0.6);
$heading-color: rgba(0, 0, 0, 0.7);

// Colors
$background-color: #FFF;
$background-color-grey: #F1F1F0;
$base-border-color: #D9D9DE;
$base-border: 1px solid $base-border-color;

$primary-color: #2E9FFF;
$primary-color-light: lighten($primary-color, 20%);
$primary-color-dark: darken($primary-color, 10%);

$charcoal-grey: #232C39;
$mid-grey: rgba(0,0,0,0.4);
$white: #FFF;

$green: #2DD7AA;
$purple: #8030E1;
$orange: #FFBB24;
$orange-red: #FF6F42;
$red: #EF3E4D;

$green-dark: darken($green, 10%);
$purple-dark: darken($purple, 10%);
$orange-dark: darken($orange, 10%);
$orange-red-dark: darken($orange-red, 10%);
$red-dark: darken($red, 10%);

// Case study category colours
$gradient-opacity: 0.5;
$engineering-gradient-a: rgba(255, 111, 66, 1);
$engineering-gradient-b: rgba(248, 167, 36, 1);
$sciences-gradient-a: rgba(26, 188, 156, 1);
$sciences-gradient-b: rgba(67, 193, 229, 1);
$finance-gradient-a: rgba(61, 112, 193, 1);
$finance-gradient-b: rgba(125, 86, 193, 1);