<section class="institution-logos">
  <div class="institution-logos-item"><img src="{{ site.baseurl }}/assets/logos/institution-asu.jpg" alt="asu logo"></div>
  <div class="institution-logos-item"><img src="{{ site.baseurl }}/assets/logos/institution-jcu.png" alt="jcu logo"></div>
  <div class="institution-logos-item"><img src="{{ site.baseurl }}/assets/logos/institution-umel.jpg" alt="umel logo"></div>
  <div class="institution-logos-item"><img src="{{ site.baseurl }}/assets/logos/institution-unsw.jpg" alt="unsw logo"></div>
  <div class="institution-logos-item"><img src="{{ site.baseurl }}/assets/logos/institution-utas.jpg" alt="utas logo"></div>
  <div class="institution-logos-item"><img src="{{ site.baseurl }}/assets/logos/institution-uwa.jpg" alt="uwa logo"></div>
</section>